<div id='request_message' class="alert alert-success" role='alert'>
    <button class="close" data-dismiss="alert" type="button">
        <span aria-hidden="true"><i class="fa fa-times"></i></span>
    </button>
    <span>Thanks for your message. We appreciate your feedback and try to reply as soon as possible</span>
</div>