/**
 * - Component: Form Elements -
 * ============================
 */

.@{namespace}.form{
  .fields{
    >.field{
      >input{
        .form-control;
        margin-bottom: 10px;

        &:hover,
        &:focus{
          border-color: @color-fountain-blue;
        }
      }
      >textarea{
        .form-control;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        margin-bottom: 10px;

        &:hover,
        &:focus{
          border-color: @color-fountain-blue;
        }
      }
    }
  }
  .inline.fields{
    display: flex;
    -webkit-box-orient: horizontal;
    flex-direction: row;

    >.field{
      flex: 0 1 auto;
      padding-left: 5px;
      padding-right: 5px;

      &:first-child{padding-left: 0;}
      &:last-child{padding-right: 0;}

      &.one.wide    {width: (1/12)*100%}
      &.two.wide    {width: (2/12)*100%}
      &.three.wide  {width: (3/12)*100%}
      &.four.wide   {width: (4/12)*100%}
      &.five.wide   {width: (5/12)*100%}
      &.six.wide    {width: (6/12)*100%}
      &.seven.wide  {width: (7/12)*100%}
      &.eight.wide  {width: (8/12)*100%}
      &.nine.wide   {width: (9/12)*100%}
      &.ten.wide    {width: (10/12)*100%}
      &.eleven.wide {width: (11/12)*100%}
      &.twelve.wide {width: (12/12)*100%}
    }
  }
}