/**
 * - Component: Icon -
 * ===================
 * @todo: icons								/icons.less
 */

//default
.@{namespace}.icon{
  background-repeat: no-repeat;
  background-position: center center;

  display: inline-block;
}

//sizes
.@{namespace}.icon{
  width: 24px;
  height: 24px;

  &.small{
    width: 16px;
    height: 16px;
  }

  &.medium{
    width: 32px;
    height: 32px;
  }

  &.large{
    width: 40px;
    height: 40px;
  }

  .big{
    width: 48px;
    height: 48px;
  }

  .huge{
    width: 56px;
    height: 56px;
  }

  .massive{
    width: 64px;
    height: 64px;
  }
}

//variants
.@{namespace}.icon{
  &.arrow.down{
    background-image: url('@{icon-uri-base}/arrow-down.png');
  }
  &.heart{
    background-image: url('@{icon-uri-base}/heart.png');
  }
  &.chat-bubble{
    background-image: url('@{icon-uri-base}/chat-bubble.png');
  }
}