/**
 * - Component: Statistic -
 * ========================
 */

.@{namespace}.statistic{}

.@{namespace}.statistic{
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  .text-center;

  >.value{
    font-size: 24px;
    line-height: 24px;
  }
  >.label{
    font-size: 14px;
    line-height: 16px;

    padding: 0;
    .text-normal;
    color: inherit;
  }
}