{% extends base_template %}

{% block bodyClass %}page-dashboard{% endblock %}

{% block content %}
<div id="segment_1">
    <div class="container">
        <div class="row">
            <div id="segment_1__segment_statistics">
                <div class="list">
                    <div class="item">
                        <div class="univtop statistic">
                            <div class="value">{{user_login.userprofile.get_user_question_count()}}</div>
                            <div class="label">questions</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="univtop statistic">
                            <div class="value">{{user_login.userprofile.get_user_answer_count()}}</div>
                            <div class="label">answers</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="univtop statistic">
                            <div class="value">{{user_login.userprofile.get_user_vote_count()}}</div>
                            <div class="label">upvote</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="univtop statistic">
                            <div class="value">{{user_login.userprofile.get_user_follower_count()}}</div>
                            <div class="label">followers</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="univtop statistic">
                            <div class="value">{{user_login.userprofile.get_user_following_count()}}</div>
                            <div class="label">following</div>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <a href="#">Edit profile</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="segment_2">
    <div class="container">
        <div class="row">
            <div class="univtop tabular menu" id="segment_2__menu">
                <div class="active item" data-target="#segment_3__segment_questions__tabs__tab_1">Questions</div>
                <div class="item" data-target="#segment_3__segment_questions__tabs__tab_2">Answered</div>
                <div class="item" data-target="#segment_3__segment_questions__tabs__tab_3">Followed</div>
            </div>
        </div>
    </div>
</div>

<div id="segment_3">
    <div class="container">
        <div class="row">
            <div id="segment_3__segment_info">
                <div class="univtop card">
                    <div class="thumbnail">
                        <img src="{{get_image_url(user_login.userprofile.avatar,210,210,'fit')}}" alt="" width="210" height="210"/>
                    </div>
                    <div class="content">
                        <div href="#" class="meta name">{{user_login.userprofile.get_user_fullname()}}</div>
                        <div class='profile-info'>
                            <div class="meta occupation">{{user_login.userprofile.occupation}}</div>
                            <div class="meta bio">{{user_login.userprofile.bio}}</div>
                            <div class="meta joined date">Joined {{user_login.date_joined.strftime("%B")}} {{user_login.date_joined.year}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="segment_3__segment_questions">
                <div class="body">
                    <div class="tabs" id="segment_3__segment_questions__tabs">
                        <div class="tab active" id="segment_3__segment_questions__tabs__tab_1" data-question-type='user_ask_questions'>
                            <input type='hidden' class='start-index' value='0'>
                            <input type='hidden' class='all-item-loaded' value='false'>
                            <div class="list questions"></div>
                        </div>
                        
                        <div class="tab" id="segment_3__segment_questions__tabs__tab_2" data-question-type='user_answer_questions'>
                            <input type='hidden' class='start-index' value='0'>
                            <input type='hidden' class='all-item-loaded' value='false'>
                            <div class="list questions"></div>
                        </div>

                        <div class="tab" id="segment_3__segment_questions__tabs__tab_3" data-question-type='user_following_questions'>
                            <input type='hidden' class='start-index' value='0'>
                            <input type='hidden' class='all-item-loaded' value='false'>
                            <div class="list questions"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
