{% extends base_template %}

{% block bodyClass %}page-profile{% endblock %}

{% block content %}
<div id="segment_1">
    <div class="container">
        <div class="row">
            <div id="segment_1__segment_statistics">
                <div class="list">
                    <div class="item">
                        <div class="univtop statistic">
                            <div class="value">{{object.userprofile.get_user_question_count()}}</div>
                            <div class="label">questions</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="univtop statistic">
                            <div class="value">{{object.userprofile.get_user_answer_count()}}</div>
                            <div class="label">answers</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="univtop statistic">
                            <div class="value">{{object.userprofile.get_user_vote_count()}}</div>
                            <div class="label">upvote</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="univtop statistic">
                            <div class="value">{{object.userprofile.get_user_follower_count()}}</div>
                            <div class="label">followers</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="univtop statistic">
                            <div class="value">{{object.userprofile.get_user_following_count()}}</div>
                            <div class="label">following</div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a class="univtop button" data-action="follow">Follow</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="segment_2">
    <div class="container">
        <div class="row">
            <div class="univtop tabular menu" id="segment_2__menu">
                <div class="active item" data-target="#segment_3__segment_questions__tabs__tab_1">Questions</div>
                <div class="item" data-target="#segment_3__segment_questions__tabs__tab_2">Answered</div>
                <div class="item" data-target="#segment_3__segment_questions__tabs__tab_3">Followed</div>
            </div>
        </div>
    </div>
</div>

<div id="segment_3">
    <div class="container">
        <div class="row">
            <div id="segment_3__segment_info">
                <div class="univtop card">
                    <div class="thumbnail">
                        <img src="{{get_image_url(object.userprofile.avatar,210,210,'fit')}}" alt="" width="210" height="210"/>
                    </div>
                    <div class="content">
                        <div href="#" class="meta name">{{object.userprofile.get_user_fullname()}}</div>
                        <div class='profile-info'>
                            <div class="meta occupation">{{object.userprofile.occupation}}</div>
                            <div class="meta bio">{{object.userprofile.bio}}</div>
                            <div class="meta joined date">Joined {{object.date_joined.strftime("%B")}} {{object.date_joined.year}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="segment_3__segment_questions">
                <div class="body">
                    <div class="tabs" id="segment_3__segment_questions__tabs">
                        <div class="tab active" id="segment_3__segment_questions__tabs__tab_1">

                            <div class="list questions">

                                {% for question in object.userprofile.get_user_questions() %}
                                    <div class="item question" data-id="{{question.unique_id}}" data-is-expanded="0">
                                        <div class="univtop card">
                                            <div class="thumbnail">
                                                <img src='{{get_image_url(object.userprofile.avatar,72,72,"fit")}}' width='72' height='72'/>
                                                <a href="/user/{{question.user_post.username}}" class="meta name">{{question.user_post.userprofile.get_user_fullname()}}</a>
                                            </div>
                                            <div class="content">
                                                <div class="segment">
                                                    <div class="header">
                                                        <!-- <div class="actions">
                                                            <a href="#" data-action="follow" data-question-id="{{question.unique_id}}" data-is-followed="{{question.is_user_follow(object,'int')}}">Follow</a>
                                                        </div> -->
                                                        <div class="meta time">
                                                            {% if question.edit_date %}
                                                                Edited {{question.edit_date|display_elapse_time}}
                                                            {% else %}
                                                                {{question.create_date|display_elapse_time}}
                                                            {% endif %}
                                                        </div>
                                                        <div class="tags">
                                                            {% for tag in question.tags.all() %}
                                                                <a class="tag">{{tag.value}}</a>
                                                            {% endfor %}
                                                        </div>
                                                    </div>

                                                    <div class="body">
                                                        <div class="summary">{{question.title}}</div>
                                                        <div class="extra text">
                                                            {{question.content}}
                                                            <a href="#" data-action="expand">more</a>
                                                        </div>
                                                    </div><!-- end .body -->

                                                    <div class="footer">
                                                        <a class="univtop label">
                                                            <i class="univtop icon heart"></i>{{question.votes.count()}}
                                                        </a>

                                                        <a class="univtop extra-large-margin-left label">
                                                            <i class="univtop icon chat-bubble mini-margin-right"></i>{{question.get_answer_count()}}
                                                        </a>
                                                    </div><!-- end .footer -->
                                                </div>
                                            </div>
                                            <div class="answers">
                                                {% for answer in question.get_answers() %}
                                                <div class="item">
                                                    <div class="univtop card">
                                                        <div class="thumbnail">
                                                            <img src='{{get_image_url(answer.user_post.userprofile.avatar,56,56,"fit")}}' width='56' height='56'/>
                                                            <a href="#" class="meta name">{{answer.user_post.userprofile.get_user_fullname()}}</a>
                                                        </div>
                                                        <div class="content">
                                                            <div class="segment">
                                                                <div class="body">
                                                                    <div class="summary">{{answer.content}}</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <form class="univtop form" data-form="reply" data-question-id="{{question.unique_id}}">
                                                <div class="inline fields">
                                                    <div class="field avatar">
                                                        <img src='{{get_image_url(object.userprofile.avatar,72,72,"fit")}}' width='72' height='72'/>
                                                        <div class="meta name">YOU</div>
                                                    </div>
                                                    <div class="field input">
                                                        <div class="fields">
                                                            <div class="field">
                                                                <textarea name="content" placeholder="Add your answer"></textarea>
                                                            </div>
                                                            <div class="field text-right">
                                                                <button type="submit" class="univtop button">Submit</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class='empty'>
                                        <h3>You haven't asked any question</h3>
                                        <p><i class='univtop icon zzz'></i></p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab" id="segment_3__segment_questions__tabs__tab_2">2</div>
                        <div class="tab" id="segment_3__segment_questions__tabs__tab_3">3</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}