{% for question in questions %}
    <div class="item question" data-id="{{question.unique_id}}" data-is-expanded="0" >
        <div class="univtop card">
            <div class="thumbnail">
                <img src='{{get_image_url(user.userprofile.avatar,72,72,"fit")}}' width='72' height='72'/>
                <a href="/user/{{question.user_post.username}}" class="meta name">{{question.user_post.userprofile.get_user_fullname()}}</a>
            </div>
            <div class="content">
                <div class="segment">
                    <div class="header">
                        <div class="actions">
                            <a href="#" class='follow' data-action="unfollow" data-question-id="{{question.unique_id}}">FOLLOWED</a>
                        </div>
                        <div class="meta time">
                            {% if question.edit_date %}
                                Edited {{question.edit_date|display_elapse_time}}
                            {% else %}
                                {{question.create_date|display_elapse_time}}
                            {% endif %}
                        </div>
                        <div class="tags">
                            {% for tag in question.tags.all() %}
                                <a class="tag">{{tag.value}}</a>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="body">
                        <div class="summary">{{question.title}}</div>
                        <div class="extra text">
                            <span class='brief-content'>
                                {{question.content|shorten_content(200)}}
                            </span>
                            {% if question.content|length > 200 %}
                                <a href='#' data-action="full-content">more</a>
                                <span class='hide full-content'>{{question.content}}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="footer">
                        {% if question.is_user_vote(user) %}
                        <a class="univtop label vote" data-action='unvote-question'>
                        {% else %}
                        <a class="univtop label vote" data-action='vote-question'>
                        {% endif %}
                            <i class="univtop icon heart" ></i><span class='value'>{{question.votes.count()}}</span>
                        </a>

                        <a class="univtop extra-large-margin-left label" data-action="expand">
                            <i class="univtop icon chat-bubble mini-margin-right"></i>{{question.get_answer_count()}}
                        </a>
                    </div>
                </div>
            </div>
            <div class="list answers">
                {% for answer in question.get_answers() %}
                <div class="item answer" data-answer-id="{{answer.unique_id}}" data-is-voted="{{answer.is_user_vote(user,'int')}}">
                    <div class="univtop card">
                        <div class="thumbnail">
                            <img src='{{get_image_url(answer.user_post.userprofile.avatar,56,56,"fit")}}' width='56' height='56'/>
                            <a href="#" class="meta name">{{answer.user_post.userprofile.get_user_fullname()}}</a>
                        </div>
                        <div class="content">
                            <div class="segment">
                                <div class="header">
                                    <div class="meta time">
                                        {% if answer.edit_date %}
                                            Edited {{answer.edit_date|display_elapse_time}}
                                        {% else %}
                                            {{answer.create_date|display_elapse_time}}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="summary">{{answer.content}}</div>
                                </div>
                                <div class="footer">
                                    {% if answer.is_user_vote(user) %}
                                    <a class="univtop label vote" data-action='unvote-answer'>
                                    {% else %}
                                    <a class="univtop label vote" data-action='vote-answer'>
                                    {% endif %}
                                         <i class="univtop icon heart" ></i><span class='value'>{{answer.votes.count()}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <form class="univtop answer form" data-form="reply" data-question-id="{{question.unique_id}}">
                <div class="inline fields">
                    <div class="field avatar">
                        <img src='{{get_image_url(user.userprofile.avatar,72,72,"fit")}}' width='72' height='72'/>
                        <div class="meta name">YOU</div>
                    </div>
                    <div class="field input">
                        <div class="fields">
                            <div class="field">
                                <textarea name="content" placeholder="Add your answer"></textarea>
                            </div>
                            <div class="field text-right">
                                <button type="submit" class="univtop button answer">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% else %}
    <div class='empty'>
        <h3>You haven't asked any question</h3>
        <p><i class='univtop icon zzz'></i></p>
    </div>
{% endfor %}