/**
 * - Components -
 * ==============
 */

/**
 * - Component: Icon -
 * ===================
 * @todo: icons               /icons.less
 */

.univtop.icon {
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
}

.univtop.icon {
  width: 24px;
  height: 24px;
}

.univtop.icon.small {
  width: 16px;
  height: 16px;
}

.univtop.icon.medium {
  width: 32px;
  height: 32px;
}

.univtop.icon.large {
  width: 40px;
  height: 40px;
}

.univtop.icon .big {
  width: 48px;
  height: 48px;
}

.univtop.icon .huge {
  width: 56px;
  height: 56px;
}

.univtop.icon .massive {
  width: 64px;
  height: 64px;
}

.univtop.icon.ellipsis {
  background-image: url('../../resources/images/icons/ellipsis.png');
}

.univtop.icon.arrow.down {
  background-image: url('../../resources/images/icons/arrow-down.png');
}

.univtop.icon.heart {
  background-image: url('../../resources/images/icons/heart.png');
}

.univtop.icon.chat-bubble {
  background-image: url('../../resources/images/icons/chat-bubble.png');
}

.univtop.icon.location-picker {
  background-image: url('../../resources/images/icons/location-picker.png');
}

.univtop.icon.small.location-picker {
  background-image: url('../../resources/images/icons/location-picker-small.png');
}

.univtop.icon.facebook {
  background-image: url('../../resources/images/icons/facebook_color.jpg');
}

.univtop.icon.twitter {
  background-image: url('../../resources/images/icons/twitter_color.jpg');
}

.univtop.icon.zzz {
  background-image: url('../../resources/images/icons/zzz.png');
}

/**
 * - Component: Buttons -
 * ======================
 */

.univtop.button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.univtop.button:focus,
.univtop.button:active:focus,
.univtop.button.active:focus,
.univtop.button.focus,
.univtop.button:active.focus,
.univtop.button.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.univtop.button:hover,
.univtop.button:focus,
.univtop.button.focus {
  color: #333;
  text-decoration: none;
}

.univtop.button:active,
.univtop.button.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.univtop.button.disabled,
.univtop.button[disabled],
fieldset[disabled] .univtop.button {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

a.univtop.button.disabled,
fieldset[disabled] a.univtop.button {
  pointer-events: none;
}

.univtop.button.block {
  display: block;
  width: 100%;
}

/**
 * - Component: List -
 * ===================
 * @todo: list                components/list.less
 */

/**
 * - Component: Cards -
 * ====================
 */

/**
 * - Component: Form Elements -
 * ============================
 */

.univtop.form .fields > .field > input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  margin-bottom: 10px;
}

.univtop.form .fields > .field > input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.univtop.form .fields > .field > input::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.univtop.form .fields > .field > input:-ms-input-placeholder {
  color: #999;
}

.univtop.form .fields > .field > input::-webkit-input-placeholder {
  color: #999;
}

.univtop.form .fields > .field > input::-ms-expand {
  border: 0;
  background-color: transparent;
}

.univtop.form .fields > .field > input[disabled],
.univtop.form .fields > .field > input[readonly],
fieldset[disabled] .univtop.form .fields > .field > input {
  background-color: #eeeeee;
  opacity: 1;
}

.univtop.form .fields > .field > input[disabled],
fieldset[disabled] .univtop.form .fields > .field > input {
  cursor: not-allowed;
}

textarea.univtop.form .fields > .field > input {
  height: auto;
}

.univtop.form .fields > .field > input:hover,
.univtop.form .fields > .field > input:focus {
  border-color: #58C4C7;
}

.univtop.form .fields > .field > textarea {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.univtop.form .fields > .field > textarea:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.univtop.form .fields > .field > textarea::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.univtop.form .fields > .field > textarea:-ms-input-placeholder {
  color: #999;
}

.univtop.form .fields > .field > textarea::-webkit-input-placeholder {
  color: #999;
}

.univtop.form .fields > .field > textarea::-ms-expand {
  border: 0;
  background-color: transparent;
}

.univtop.form .fields > .field > textarea[disabled],
.univtop.form .fields > .field > textarea[readonly],
fieldset[disabled] .univtop.form .fields > .field > textarea {
  background-color: #eeeeee;
  opacity: 1;
}

.univtop.form .fields > .field > textarea[disabled],
fieldset[disabled] .univtop.form .fields > .field > textarea {
  cursor: not-allowed;
}

textarea.univtop.form .fields > .field > textarea {
  height: auto;
}

.univtop.form .fields > .field > textarea:hover,
.univtop.form .fields > .field > textarea:focus {
  border-color: #58C4C7;
}

.univtop.form .inline.fields {
  display: flex;
  -webkit-box-orient: horizontal;
  flex-direction: row;
}

.univtop.form .inline.fields > .field {
  flex: 0 1 auto;
  padding-left: 5px;
  padding-right: 5px;
}

.univtop.form .inline.fields > .field:first-child {
  padding-left: 0;
}

.univtop.form .inline.fields > .field:last-child {
  padding-right: 0;
}

.univtop.form .inline.fields > .field.one.wide {
  width: 8.33333333%;
}

.univtop.form .inline.fields > .field.two.wide {
  width: 16.66666667%;
}

.univtop.form .inline.fields > .field.three.wide {
  width: 25%;
}

.univtop.form .inline.fields > .field.four.wide {
  width: 33.33333333%;
}

.univtop.form .inline.fields > .field.five.wide {
  width: 41.66666667%;
}

.univtop.form .inline.fields > .field.six.wide {
  width: 50%;
}

.univtop.form .inline.fields > .field.seven.wide {
  width: 58.33333333%;
}

.univtop.form .inline.fields > .field.eight.wide {
  width: 66.66666667%;
}

.univtop.form .inline.fields > .field.nine.wide {
  width: 75%;
}

.univtop.form .inline.fields > .field.ten.wide {
  width: 83.33333333%;
}

.univtop.form .inline.fields > .field.eleven.wide {
  width: 91.66666667%;
}

.univtop.form .inline.fields > .field.twelve.wide {
  width: 100%;
}

/**
 * - Component: Table -
 * ==================
 */

/**
 * - Component: Statistic -
 * ========================
 */

.univtop.statistic {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.univtop.statistic > .value {
  font-size: 24px;
  line-height: 24px;
}

.univtop.statistic > .label {
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  font-weight: 400 !important;
  color: inherit;
}

/**
 * - Component: Feed -
 *********************
 */

.univtop.feed {
  margin: 1em 0px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.univtop.feed:first-child {
  margin-top: 0;
}

.univtop.feed:last-child {
  margin-bottom: 0;
}

.univtop.feed > .event {
  background-color: #FFFFFF !important;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 8px 0;
  border-bottom: 1px solid #eaeae9;
}

.univtop.feed > .event:hover {
  background-color: #eaeae9 !important;
}

.univtop.feed > .event > .label {
  display: block;
  flex: 0 0 auto;
  width: 72px;
  height: auto;
  text-align: center;
}

.univtop.feed > .event > .label > img {
  width: 32px;
  height: auto;
  border-radius: 16px;
}

.univtop.feed > .event > .content {
  display: block;
  flex: 1 1 auto;
  text-align: left;
  word-wrap: break-word;
}

.univtop.feed > .event > .content > .summary {
  color: #636363 !important;
}

.univtop.feed > .event > .content > .summary > .meta {
  color: inherit !important;
  font-weight: 700 !important;
}

.univtop.feed > .event > .content > .meta.date {
  color: #929292 !important;
  font-size: 12px;
}
