/**
 * - Page: Error - 404 -
 * =====================
 */

.page-error.page-404 #segment_1 {
  text-align: center;
  font-family: 'HelveticaNeue' !important;
  padding-bottom: 44px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-image: url('../../resources/images/pages/404/segment-1.background.png');
}

.page-error.page-404 #segment_1 > .container > .row > .header {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.page-error.page-404 #segment_1 > .container > .row > .header > .title {
  font-size: 156px;
  font-weight: 500 !important;
  color: #58C4C7 !important;
  padding: 80px 0 50px;
}

.page-error.page-404 #segment_1 > .container > .row > .body {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.page-error.page-404 #segment_1 > .container > .row > .body #segment_1__body__line_1 {
  font-size: 40px;
  font-weight: 300 !important;
  color: #58C4C7 !important;
}

.page-error.page-404 #segment_1 > .container > .row > .body #segment_1__body__line_2 {
  font-size: 40px;
  font-weight: 300 !important;
  color: #A5A5A5 !important;
}

.page-error.page-404 #segment_1 > .container > .row > .body #segment_1__body__line_2 > span {
  position: relative;
}

.page-error.page-404 #segment_1 > .container > .row > .body #segment_1__body__line_2 > span:after {
  position: absolute;
  left: -24px;
  top: 50%;
  margin-top: -12px;
  content: '';
  width: 13px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../../resources/images/pages/404/segment-1.body.line-2.left.png');
}

.page-error.page-404 #segment_1 > .container > .row > .body #segment_1__body__line_2 > span:before {
  position: absolute;
  right: -24px;
  top: 50%;
  margin-top: -12px;
  content: '';
  width: 13px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../../resources/images/pages/404/segment-1.body.line-2.right.png');
}

.page-error.page-404 #segment_1 > .container > .row > .body #segment_1__body__line_2 a {
  font-weight: 500 !important;
  color: #58C4C7 !important;
}






/**
 * - Page: Error - 500 -
 * =====================
 */

.page-error.page-500 #segment_1 {
  text-align: center;
  font-family: 'HelveticaNeue' !important;
  padding-bottom: 44px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-image: url('../../resources/images/pages/404/segment-1.background.png');
}

.page-error.page-500 #segment_1 > .container > .row > .header {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.page-error.page-500 #segment_1 > .container > .row > .header > .title {
  font-size: 60px;
  font-weight: 500 !important;
  color: #58C4C7 !important;
  padding: 80px 0 50px;
}

.page-error.page-500 #segment_1 > .container > .row > .body {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.page-error.page-500 #segment_1 > .container > .row > .body #segment_1__body__line_1 {
  font-size: 40px;
  font-weight: 300 !important;
  color: #58C4C7 !important;
}

.page-error.page-500 #segment_1 > .container > .row > .body #segment_1__body__line_2 {
  font-size: 40px;
  font-weight: 300 !important;
  color: #A5A5A5 !important;
}

.page-error.page-500 #segment_1 > .container > .row > .body #segment_1__body__line_2 > span {
  position: relative;
}

.page-error.page-500 #segment_1 > .container > .row > .body #segment_1__body__line_2 > span:after {
  position: absolute;
  left: -24px;
  top: 50%;
  margin-top: -12px;
  content: '';
  width: 13px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../../resources/images/pages/404/segment-1.body.line-2.left.png');
}

.page-error.page-500 #segment_1 > .container > .row > .body #segment_1__body__line_2 > span:before {
  position: absolute;
  right: -24px;
  top: 50%;
  margin-top: -12px;
  content: '';
  width: 13px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../../resources/images/pages/404/segment-1.body.line-2.right.png');
}

.page-error.page-500 #segment_1 > .container > .row > .body #segment_1__body__line_2 a {
  font-weight: 500 !important;
  color: #58C4C7 !important;
}

