html {
  height: 100%;
  position: relative;
}

body {
  color: #636363 !important;
  font-family: Lato, sans-serif;
  min-height: 100%;
  position: relative;
}

@media (min-width: 768px) {
  body {
    /*padding-bottom: 220px;*/
    padding-bottom: 50px;
  }
}

.overlay {
  background-repeat: no-repeat;
  background-image: url('../../resources/images/demo/overlay.jpg');
  width: 1201px;
  height: 2462px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  opacity: 0;
  display: none;
}

a {
  color: #58C4C7 !important;
}

a:hover {
  opacity: 0.8;
  text-decoration: none;
}