<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block pageTitle %}Blank page title{% endblock %}</title>

    <link rel="stylesheet" href="../styles/style_page_1.css"/>
    <link rel="stylesheet" href="../styles/style_page_2.css"/>
    <link rel="stylesheet" href="../styles/style_page_3.css"/>
    {% block customStyles %}{% endblock %}
</head>
<body class="layout-index {% block bodyClass %}{% endblock %}" id="{% block bodyId %}{% endblock %}">

{% include '../modules/header.swig' %}

{% block content %}{% endblock %}

{% include '../modules/footer.swig' %}

<script src="../scripts/vendors.js" type="text/javascript" charset="utf-8"></script>
<script src="../scripts/index.js" type="text/javascript" charset="utf-8"></script>
{% block customScripts %}{% endblock %}
</body>
</html>