{% extends base_template %}

{% block bodyClass %}page-home{% endblock %}

{% block content %}

    <div id="segment_1">
        <div class="container">
            <div class="row">
                <div id="segment_1__blurred_logo">
                    <img src="{{static('css/prod/images/pages/home/segment-1.logo.png')}}" alt="">
                </div>
                <div id="segment_1__text_1">
                    Where International Students and Professionals Connect
                </div>
                <div id="segment_1__text_2">
                    Your future starts here
                </div>
                <div id="segment_1__form_ask">
                    <form action="/question/" method='GET'>
                        <input type="text" id="segment_1__form_ask__input" name='q'>
                        <button type="submit" id="segment_1__form_ask__submit" class="univtop button">Search</button>
                    </form>
                </div>

                <div id="segment_1__toggle_scroll_down">
                    <a href="#" data-toggle="scrollDown">
                        <i class="univtop icon large arrow down"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="segment_2">
        <div class="container">
            <div class="row">
                <div id="segment_2__text_1">
                    <span class='bold'>Univtop</span> is a multi-platform application created to empower <span class='bold'>International Students</span> to succeed!
                </div>
            </div>
        </div>
    </div>

    <div id="segment_3">
        <div class="container">
            <div class="row">
                <div id="segment_3__text_1">
                    Univtop In Action
                </div>
                <div id='segment_3__text_2'>
                    Video of our features!
                </div>
                <div id="segment_3__video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/vtl0j05g1T0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div id="segment_4">
        <div id="segment_4__text_1">
            We make the process easier
        </div>
        <div id="segment_4__text_2">
            Best of all, it's free
        </div>
        <div id="segment_4__slogans">
            <div class="container">
                <div class="row">
                    <div class="item">
                        <div class="thumbnail">
                            <img src="{{static('css/prod/images/pages/home/segment-2.thumbnail-1.png')}}" alt="">
                        </div>
                        <div class="text"><span class='bold'>Get insights</span> from current students to help plan for your <span class='bold'>bright future</span></div>
                    </div>
                    <div class="item">
                        <div class="thumbnail">
                            <img src="{{static('css/prod/images/pages/home/segment-2.thumbnail-2.png')}}" alt="">
                        </div>
                        <div class="text">
                            <span class='bold'>Share</span> your thoughts and 
                            <span class='bold'>express</span> your questions with 
                            <span class='bold'>like-minded</span> community
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumbnail">
                            <img src="{{static('css/prod/images/pages/home/segment-2.thumbnail-3.png')}}" alt="">
                        </div>
                        <div class="text">
                            <span class='bold'>Create</span> 
                            your opportunities by networking with 
                            <span class='bold'>professionals</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="segment_5">
        <div class="container">
            <div class="row">
                <div id="segment_5__testimonials">
                
                    <div class="item">
                        <div class="text">
                            "Univtop is a powerful platform and a great tool to utilize for any prospective international student. I was able to connect with current students that helped guide me through the college process"
                        </div>
                        <div class="avatar">
                            <div class="image">
                                <img src="{{static('img/apps/landing/Bin.jpg')}}" alt="">
                            </div>
                            <div class="info">
                                <div class="name">Bin Nguyen</div>
                                <div class="meta location">San Francisco, CA</div>
                            </div>
                        </div>
                    </div>
                
                    <div class="item">
                        <div class="text">
                            "I was given insights on what to expect before I started taking classes at my university. Univtop has made my college experience in America much more fun and enjoyable"
                        </div>
                        <div class="avatar">
                            <div class="image">
                                <img src="{{static('img/apps/landing/Jacob.jpg')}}" alt="">
                            </div>
                            <div class="info">
                                <div class="name">Jacob O'leary</div>
                                <div class="meta location">Chicago, IL</div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>


    <div id="segment_6">
        <div class="container">
            <div class="row">
                <div id="segment_6__text_1">Download the App</div>
                <div id="segment_6__text_2">Get it FREE on:</div>

                <div id="segment_6__button_container">
                    <a class="item" href="https://itunes.apple.com/us/app/univtop/id1054877132?mt=8" target="_blank">
                        <img src="{{static('css/prod/images/apple-appstore.png')}}" alt=""/>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="overlay"></div>

{% endblock %}

{% block footer %}
<div class="univtop footer" id="contact_us">
    <div class='row' id='footer__row_1'>
        <div class="container">
            <div class="nine wide column" id="footer__segment_1">
                <h4 class='contact-us-text'>Contact Us</h4>
                <!-- <p>
                    <span class='title'>Hotline:</span>
                    <span class='content'>+1-408-816-6519</span>
                </p> -->
                <p>
                    <span class='title'>Email:</span>
                    <span class='content'>contact@univtop.com</span>
                </p>
                <p>
                    <i class="univtop small icon location-picker"></i> 
                    <span class='content'>1125 Roewill Dr, San Jose, CA 95117</span>
                </p>
            </div>

            <div class="three wide column text-right" id="footer__segment_2">
                <h4>Follow Us</h4>
                <a href="https://www.facebook.com/Univtop/">
                    <i class="univtop medium icon facebook"></i>
                </a>&nbsp;
                <a href="https://twitter.com/univtop1">
                    <i class="univtop medium icon twitter"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row" id='footer__row_2'>
        <div class='container'>
            <div class='pull-left'>
                <span>© Copyright 2016 Univtop. All Rights Reserved.</span>
                <span class='small-margin-left small-margin-right'>|</span>
                <span><a href='{{static("legal/Univtop_Terms_of_Service.pdf")}}' target="_blank">Terms of Service</a></span>
                <span class='small-margin-left small-margin-right'>|</span>
                <span><a href='{{static("legal/Univtop_Privacy_Policy.pdf")}}' target="_blank">Privacy Policy</a></span>
            </div>
            <div class='pull-right'>
                <img src="{{static('css/prod/images/modules/footer/logo-icon.png')}}" alt="" class='mini-margin-right'/>
                <img src="{{static('css/prod/images/modules/footer/logo-text.png')}}" alt=""/>
            </div>
        </div>
    </div>
</div>
{% endblock %}