<div id='request_message' class="alert alert-warning" role='alert'>
    <button class="close" data-dismiss="alert" type="button">
        <span aria-hidden="true"><i class="fa fa-times"></i></span>
    </button>
    <span>Don't forget to confirm your email! Just look for the message we sent you. Click <a href='/account/confirm-email/'>here</a> to resend confirm email</span>
</div>