<div id='request_message' class="alert alert-warning" role='alert'>
    <button class="close" data-dismiss="alert" type="button">
        <span aria-hidden="true"><i class="fa fa-times"></i></span>
    </button>
    <span>We have sent new activate link to your email at <span class='bold'>{{user_login.email}}</span>. Please check your inbox</span>
</div>