{% extends base_template %}

{% block bodyClass %}page-questions{% endblock %}

{% block content %}

<!-- <div id="segment_1">
    <div class="container">
        <div class="row">
            <div class="body">
                <form class="univtop form" id="form_ask_question">
                    <div class="inline fields">
                        <div class="nine wide field">
                            <input type="text" id="form_ask_question__input">
                        </div>
                        <div class="three wide field">
                            <button type="submit" id="form_ask_question__submit" class="univtop block button">Ask Question</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="segment_2">
    <div class="container">
        <div class="row">
            <div class="header">
                <div class="univtop tabular menu" id="segment_2__menu">
                    <div class="active item" data-target="#segment_2__tabs__tab_1">Trending</div>
                    <div class="item" data-target="#segment_2__tabs__tab_2">Category</div>
                    <div class="item" data-target="#segment_2__tabs__tab_3">Custom</div>
                </div>
            </div>
            <div class="body">
                <div class="tabs" id="segment_2__tabs">
                    <div class="tab active" id="segment_2__tabs__tab_1"></div>
                    <div class="tab" id="segment_2__tabs__tab_2"></div>
                    <div class="tab" id="segment_2__tabs__tab_3"></div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div id="segment_1">
    <div class="container">
        <div class="row">
            <div id="segment_1__left">
                <div class="widget" id="segment_1__left__widget_button">
                    <div class="body">
                        <div id="segment_1__left__trigger_modal_add_question" class="univtop block button bg-fountain-blue">
                            Add Question
                        </div>
                    </div>
                </div>

                <div class="widget" id="segment_1__left__widget_menu">
                    <div class="body">
                        <div class="univtop menu">
                            <a href="#" class="active item">
                                Trending
                            </a>
                            <a href="#" class="item">
                                Custom
                            </a>
                            <a href="#" class="item">
                                Categories
                            </a>
                        </div>
                    </div>
                </div>

                <div class="widget" id="segment_1__left__widget_top_contributors">
                    <div class="header">
                        <div class="title">Top contributors</div>
                    </div>
                    <div class="body">
                        <div class="list">
                        
                            <div class="item">
                                <div class="avatar">
                                    <div class="image">
                                        <img src="../assets/images/demo/pages/home/avatar-2.jpg" alt="">
                                    </div>
                                    <div class="info">
                                        <div class="line-1">
                                            <span class="meta name">Judy H.</span>
                                            <span class="meta location">(Chicago, IL)</span>
                                        </div>
                                        <div class="line-2">
                                            <span class="meta subject">Computer Science</span>
                                        </div>
                                        <div class="line-3">
                                            <span class="tag follow">follow</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="item">
                                <div class="avatar">
                                    <div class="image">
                                        <img src="../assets/images/demo/pages/home/avatar-2.jpg" alt="">
                                    </div>
                                    <div class="info">
                                        <div class="line-1">
                                            <span class="meta name">Judy H.</span>
                                            <span class="meta location">(Chicago, IL)</span>
                                        </div>
                                        <div class="line-2">
                                            <span class="meta subject">Computer Science</span>
                                        </div>
                                        <div class="line-3">
                                            <span class="tag follow">follow</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="item">
                                <div class="avatar">
                                    <div class="image">
                                        <img src="../assets/images/demo/pages/home/avatar-2.jpg" alt="">
                                    </div>
                                    <div class="info">
                                        <div class="line-1">
                                            <span class="meta name">Judy H.</span>
                                            <span class="meta location">(Chicago, IL)</span>
                                        </div>
                                        <div class="line-2">
                                            <span class="meta subject">Computer Science</span>
                                        </div>
                                        <div class="line-3">
                                            <span class="tag follow">follow</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>

            <div id="segment_1__right">
                <div id="segment_1__right__segment_form">
                    <form class="univtop form" id="form_search_question">
                        <div class="inline fields">
                            <div class="nine wide field">
                                <input type="text" id="form_search_question__input">
                            </div>
                            <div class="three wide field">
                                <button type="submit" id="form_search_question__submit" class="univtop block button">Search</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div id="segment_1__right__segment_questions" class="loading">

                </div>
            </div>


        </div>
    </div>
</div>


{% endblock %}