/**
 * - Page: Notifications -
 *************************
 */

.page-notifications #segment_1 > .header {
  background-color: #58C4C7 !important;
}

.page-notifications #segment_1 > .header .container > .title {
  color: #FFFFFF !important;
  font-weight: 300 !important;
  font-family: 'HelveticaNeue' !important;
  line-height: 48px;
  font-size: 26px;
}

.page-notifications #segment_1 > .body {
  padding-top: 32px;
}