/**
 * - Page: Question -
 * ==================
 */

.page-questions {
  background-image: url('../../resources/images/pages/question/background.jpg');
}

.page-questions #segment_1 {
  background-color: #FFFFFF !important;
  padding: 15px 0;
}

.page-questions #segment_1 > .container .row > .body:before,
.page-questions #segment_1 > .container .row > .body:after {
  content: " ";
  display: table;
}

.page-questions #segment_1 > .container .row > .body:after {
  clear: both;
}

.page-questions #segment_1 > .container .row > .body:before,
.page-questions #segment_1 > .container .row > .body:after {
  content: " ";
  display: table;
}

.page-questions #segment_1 > .container .row > .body:after {
  clear: both;
}

.page-questions #segment_1 > .container .row > .body #form_ask_question {
  width: 565px;
  margin: 0 auto;
}

.page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field > input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  height: 36px;
}

.page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field > input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field > input::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field > input:-ms-input-placeholder {
  color: #999;
}

.page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field > input::-webkit-input-placeholder {
  color: #999;
}

.page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field > input::-ms-expand {
  border: 0;
  background-color: transparent;
}

.page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field > input[disabled],
.page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field > input[readonly],
fieldset[disabled] .page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field > input {
  background-color: #eeeeee;
  opacity: 1;
}

.page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field > input[disabled],
fieldset[disabled] .page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field > input {
  cursor: not-allowed;
}

textarea.page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field > input {
  height: auto;
}

.page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field #form_ask_question__input {
  padding-left: 30px;
  background-repeat: no-repeat;
  background-image: url('../../resources/images/icons/magnifier.png');
  background-position: 4px 4px;
  font-size: 18px;
}

.page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field #form_ask_question__input .ms-sel-ctn {
  margin-left: 0;
}

.page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field #form_ask_question__input .ms-sel-ctn .ms-sel-item {
  background-color: transparent !important;
  border: medium none;
  font-size: 18px;
  line-height: 24px;
  color: inherit;
  margin: 1px 0;
  padding: 0;
}

.page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field #form_ask_question__input .ms-sel-ctn .ms-sel-item .ms-close-btn {
  display: none;
}

.page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field #form_ask_question__input .ms-res-ctn .ms-res-item > a {
  display: block;
}

.page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field > button {
  color: #FFFFFF !important;
  background-color: #F8B64D;
  background: -webkit-gradient(linear, left top, left bottom, from(#F8B64D), to(#F09B60));
  background: -webkit-linear-gradient(top, #F8B64D, #F09B60);
  background: -moz-linear-gradient(top, #F8B64D, #F09B60);
  background: -ms-linear-gradient(top, #F8B64D, #F09B60);
  background: -o-linear-gradient(top, #F8B64D, #F09B60);
  height: 36px;
  line-height: 24px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
}

.page-questions #segment_2 > .container .row > .header {
  padding-top: 2px;
}

.page-questions #segment_2 > .container .row > .header #segment_2__menu {
  background-color: #FFFFFF !important;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 500px;
  height: 36px;
  display: flex;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  box-shadow: 0 1px 1px rgba(188, 187, 187, 0.75);
  border-radius: 5px;
  padding: 0 10px;
}

.page-questions #segment_2 > .container .row > .header #segment_2__menu:before,
.page-questions #segment_2 > .container .row > .header #segment_2__menu:after {
  content: " ";
  display: table;
}

.page-questions #segment_2 > .container .row > .header #segment_2__menu:after {
  clear: both;
}

.page-questions #segment_2 > .container .row > .header #segment_2__menu:before,
.page-questions #segment_2 > .container .row > .header #segment_2__menu:after {
  content: " ";
  display: table;
}

.page-questions #segment_2 > .container .row > .header #segment_2__menu:after {
  clear: both;
}

.page-questions #segment_2 > .container .row > .header #segment_2__menu > .item {
  text-align: center;
  text-transform: uppercase;
  flex: 0 1 auto;
  width: 33.33333333%;
  line-height: 36px;
  margin: 0 30px;
  padding: 0 15px;
  font-size: 18px;
  cursor: pointer;
}

.page-questions #segment_2 > .container .row > .header #segment_2__menu > .item.active,
.page-questions #segment_2 > .container .row > .header #segment_2__menu > .item:hover {
  color: #EE9960 !important;
  border-bottom: 3px solid #EE9960;
}

.page-questions #segment_2 > .container .row > .body #segment_2__tabs {
  width: 850px;
  margin: 0 auto;
}

.page-questions #segment_2 > .container .row > .body #segment_2__tabs > .tab {
  display: none;
}

.page-questions #segment_2 > .container .row > .body #segment_2__tabs > .tab > .list:before,
.page-questions #segment_2 > .container .row > .body #segment_2__tabs > .tab > .list:after {
  content: " ";
  display: table;
}

.page-questions #segment_2 > .container .row > .body #segment_2__tabs > .tab > .list:after {
  clear: both;
}

.page-questions #segment_2 > .container .row > .body #segment_2__tabs > .tab > .list:before,
.page-questions #segment_2 > .container .row > .body #segment_2__tabs > .tab > .list:after {
  content: " ";
  display: table;
}

.page-questions #segment_2 > .container .row > .body #segment_2__tabs > .tab > .list:after {
  clear: both;
}

.page-questions #segment_2 > .container .row > .body #segment_2__tabs > .tab > .list > .item[data-is-expanded="0"] > .univtop.card > .answers,
.page-questions #segment_2 > .container .row > .body #segment_2__tabs > .tab > .list > .item[data-is-expanded="0"] > .univtop.card > form {
  display: none;
  visibility: hidden;
}

.page-questions #segment_2 > .container .row > .body #segment_2__tabs > .tab > .list > .item[data-is-expanded="1"] > .univtop.card > .answers,
.page-questions #segment_2 > .container .row > .body #segment_2__tabs > .tab > .list > .item[data-is-expanded="1"] > .univtop.card > form {
  display: block;
  visibility: visible;
}

.page-questions #segment_2 > .container .row > .body #segment_2__tabs > .tab.active {
  display: block;
}

.page-questions #segment_2 > .container .row > .body #segment_2__tabs > .tab > .list > .item[data-is-expanded="0"] > .univtop.card > .thumbnail > img {
    width: 72px;
    height: 72px;
    border-radius: 100px;
}