.bootbox.modal {
  background-color: rgba(255, 255, 255, 0.3);
}

.bootbox.modal > .modal-dialog {
  width: 450px;
  padding-top: 100px;
}

.bootbox.modal > .modal-dialog > .modal-content {
  border-radius: 0 0 12px 12px;
  border: none;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.3);
  padding-top: 11px;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url('../../resources/images/modules/modal/header.background.png');
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

.bootbox.modal > .modal-dialog > .modal-content > .modal-header {
  border-bottom: none;
  padding: 25px 0 0 0;
}

.bootbox.modal > .modal-dialog > .modal-content > .modal-header > .bootbox-close-button {
  margin-top: -20px;
  font-size: 30px;
  margin-right: 10px;
  position: absolute;
  right: 0;
}

.bootbox.modal > .modal-dialog > .modal-content > .modal-header > .modal-title {
  text-align: center;
}

.bootbox.modal > .modal-dialog > .modal-content > .modal-header > .modal-title > .title {
  font-size: 24px;
  line-height: 32px;
}

.bootbox.modal > .modal-dialog > .modal-content > .modal-header > .modal-title > .subtitle {
  font-style: italic !important;
  font-weight: 300 !important;
  font-size: 18px;
  line-height: 18px;
}

.bootbox.modal > .modal-dialog > .modal-content > .modal-body > .bootbox-body {
  padding: 0 45px;
}

.bootbox.modal > .modal-dialog > .modal-content > .modal-body > .bootbox-body .univtop.form > .fields > .field {
  margin-bottom: 10px;
}

.bootbox.modal > .modal-dialog > .modal-content > .modal-body > .bootbox-body .univtop.form > .fields > .field > label {
  font-weight: 400 !important;
  display: block;
  font-size: 13px;
}

.bootbox.modal > .modal-dialog > .modal-content > .modal-body > .bootbox-body .univtop.form > .fields > .field > input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.bootbox.modal > .modal-dialog > .modal-content > .modal-body > .bootbox-body .univtop.form > .fields > .field > input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.bootbox.modal > .modal-dialog > .modal-content > .modal-body > .bootbox-body .univtop.form > .fields > .field > input::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.bootbox.modal > .modal-dialog > .modal-content > .modal-body > .bootbox-body .univtop.form > .fields > .field > input:-ms-input-placeholder {
  color: #999;
}

.bootbox.modal > .modal-dialog > .modal-content > .modal-body > .bootbox-body .univtop.form > .fields > .field > input::-webkit-input-placeholder {
  color: #999;
}

.bootbox.modal > .modal-dialog > .modal-content > .modal-body > .bootbox-body .univtop.form > .fields > .field > input::-ms-expand {
  border: 0;
  background-color: transparent;
}

.bootbox.modal > .modal-dialog > .modal-content > .modal-body > .bootbox-body .univtop.form > .fields > .field > input[disabled],
.bootbox.modal > .modal-dialog > .modal-content > .modal-body > .bootbox-body .univtop.form > .fields > .field > input[readonly],
fieldset[disabled] .bootbox.modal > .modal-dialog > .modal-content > .modal-body > .bootbox-body .univtop.form > .fields > .field > input {
  background-color: #eeeeee;
  opacity: 1;
}

.bootbox.modal > .modal-dialog > .modal-content > .modal-body > .bootbox-body .univtop.form > .fields > .field > input[disabled],
fieldset[disabled] .bootbox.modal > .modal-dialog > .modal-content > .modal-body > .bootbox-body .univtop.form > .fields > .field > input {
  cursor: not-allowed;
}

textarea.bootbox.modal > .modal-dialog > .modal-content > .modal-body > .bootbox-body .univtop.form > .fields > .field > input {
  height: auto;
}

.bootbox.modal > .modal-dialog > .modal-content > .modal-body > .bootbox-body .univtop.form > .fields > .field > input[type=text],
.bootbox.modal > .modal-dialog > .modal-content > .modal-body > .bootbox-body .univtop.form > .fields > .field > input[type=password] {
  /*-webkit-box-shadow: 2px 3px 3px rgba(0,0,0,0.2);
                  -moz-box-shadow: 2px 3px 3px rgba(0,0,0,0.2);
                  box-shadow: 2px 3px 3px rgba(0,0,0,0.2);*/
}

.bootbox.modal > .modal-dialog > .modal-content > .modal-body > .bootbox-body .univtop.form > .fields > .field a {
  cursor: pointer;
  text-decoration: none;
}

.bootbox.modal > .modal-dialog > .modal-content > .modal-body > .bootbox-body .univtop.form > .fields > .field a[data-target=modal-forgot-password] {
  font-weight: 500 !important;
  color: #58C4C7 !important;
}

.bootbox.modal > .modal-dialog > .modal-content > .modal-body > .bootbox-body .univtop.form > .fields > .field a[data-target=modal-register],
.bootbox.modal > .modal-dialog > .modal-content > .modal-body > .bootbox-body .univtop.form > .fields > .field a[data-target=modal-login-in] {
  color: #58C4C7 !important;
  font-weight: 500 !important;
}

.bootbox.modal > .modal-dialog > .modal-content > .modal-body > .bootbox-body .univtop.form > .fields > .field > button {
  background-color: #ef9961 !important;
  color: #FFFFFF !important;
  font-size: 15px;
  height: 30px;
  padding: 6px 15px;
  line-height: 18px;
  border-radius: 10px;
}

.bootbox.modal > .modal-dialog > .modal-content > .modal-body > .bootbox-body .univtop.form > .fields > .field p {
  line-height: 14px;
}

.bootbox.modal > .modal-dialog > .modal-content > .modal-body > .bootbox-body .univtop.form > .fields > .field.error {
  color: #E15744 !important;
}

.bootbox.modal > .modal-dialog > .modal-content > .modal-body > .bootbox-body .univtop.form > .inline.fields {
  display: flex;
}

.bootbox.modal > .modal-dialog > .modal-content > .modal-body > .bootbox-body .univtop.form > .inline.fields > .field {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: top;
}

.bootbox.modal > .modal-dialog > .modal-content > .modal-body > .bootbox-body .univtop.form > .inline.fields > .field:first-child {
  padding-left: 0;
}

.bootbox.modal > .modal-dialog > .modal-content > .modal-body > .bootbox-body .univtop.form > .inline.fields > .field:last-child {
  padding-right: 0;
}

.bootbox.modal > .modal-dialog > .modal-content > .modal-body > .bootbox-body .univtop.form > .inline.fields .six.wide.field {
  width: 50%;
}

.bootbox.modal.modal-login > .modal-dialog > .modal-content > .modal-header > .modal-title > .title {
  text-transform: uppercase;
}

.bootbox.modal.modal-sign-up > .modal-dialog > .modal-content > .modal-header > .modal-title > .title {
  text-transform: uppercase;
}



/**
 *  Custom Modal CSS
 */ 

.bootbox.modal.modal-forgot-password > .modal-dialog > .modal-content > .modal-body > .bootbox-body .univtop.form > .message {
  margin-bottom: 10px;
  text-align: center;
}


@media (max-width: 768px) {
  .bootbox.modal .modal-dialog{
    width:auto;
  }
}

