<div class="univtop footer" id="footer">
    <!-- <div class='row' id='footer__row_1'>
        <div class="container">
            <div class="nine wide column" id="footer__segment_1">
                <h4 class='contact-us-text'>Contact Us</h4>
                <p>
                    <span class='title'>Hotline:</span>
                    <span class='content'>+1-408-816-6519</span>
                </p>
                <p>
                    <span class='title'>Email:</span>
                    <span class='content'>contact@univtop.com</span>
                </p>
                <p>
                    <i class="univtop small icon location-picker"></i> 
                    <span class='content'>1125 Roewill Dr., Apt 5, San Jose, CA 95117</span>
                </p>
            </div>

            <div class="three wide column text-right" id="footer__segment_2">
                <h4>Follow Us</h4>
                <a href="https://www.facebook.com/Univtop/">
                    <i class="univtop medium icon facebook"></i>
                </a>&nbsp;
                <a href="#twitter">
                    <i class="univtop medium icon twitter"></i>
                </a>
            </div>
        </div>
    </div> -->
    <div class="row" id='footer__row_2'>
        <div class='container'>
            <div class='pull-left'>
                <span>© Copyright 2016 Univtop. All Rights Reserved.</span>
                <span class='small-margin-left small-margin-right'>|</span>
                <span><a href='{{static("legal/Univtop_Terms_of_Service.pdf")}}' target="_blank">Terms of Service</a></span>
                <span class='small-margin-left small-margin-right'>|</span>
                <span><a href='{{static("legal/Univtop_Privacy_Policy.pdf")}}' target="_blank">Privacy Policy</a></span>
            </div>
            <div class='pull-right'>
                <img src="{{static('css/prod/images/modules/footer/logo-icon.png')}}" alt="" class='mini-margin-right'/>
                <img src="{{static('css/prod/images/modules/footer/logo-text.png')}}" alt=""/>
            </div>
        </div>
    </div>
</div>