<div class="univtop header" id="header">
    	<div class="container">
    		<div class="row">

    			<a href="{{url('home')}}" id="segment_header__logo"></a>

    			<div id="header__toggle_container">
    				<a href="#" id="header__toggle">
    					<i class="univtop large icon ellipsis"></i>
    				</a>
    			</div>

    			<div id="segment_header__top_menu">

    				{% if user_login %}

    					<div id="segment_header__top_menu__links">
	    					<a href="{{url('home')}}" class='item'>Home</a>
							<a href="{{url('list_question')}}" class="item">Question</a>
							<a href="{{url('about')}}" class="item">About us</a>
							<a href="/#contact_us" class="item contact">Contact</a>
							{% if new_notifications %}
								<a href='{{url("list_notification")}}' class='item'><i class='univtop icon notification new'></i></a>
							{% else %}
								<a href='{{url("list_notification")}}' class='item'><i class='univtop icon notification'></i></a>
							{% endif %}
							<div class="dropdown item">
								<a class='dropdown-toggle' data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									<img src='{{get_image_url(user_login.userprofile.avatar,30,30,"fit")}}' width='30' height='30'/>
								</a>
								<ul class="dropdown-menu">
								    <li>
								    	<a href="/user/{{user_login.username}}">My Profile</a>
								    </li>
								    <li role="separator" class="divider"></li>
								    <li>
								    	<a href="{{url('account_logout')}}">Log out</a>
								    </li>
								</ul>
							</div>
	    				</div>
					{% else %}
						<div id="segment_header__top_menu__actions">
	    					<a href="#signup" class="univtop button" id="segment_header__actions__item_signup" data-target="modal-sign-up">Sign up</a>
							<a href="#login" class="univtop button" id="segment_header__actions__item_login" data-target="modal-login">Login</a>
	    				</div>

	    				<div id="segment_header__top_menu__links">
	    					<a href="{{url('home')}}" class='item'>Home</a>
							<a href="{{url('list_question')}}" class="item">Question</a>
							<a href="{{url('about')}}" class="item">About us</a>
							<a href="/#contact_us" class='item'>Contact</a>
	    				</div>
					{% endif %}
    			</div>
    		</div>
    	</div>
    </div>