<div class="univtop header" id="header">
	<div class="container">
		<div class="row">

			<a href="{{url('home')}}" id="segment_header__logo"></a>

			<div id="header__toggle_container">
				<a href="#" id="header__toggle">
					<i class="univtop large icon ellipsis"></i>
				</a>
			</div>

			<div id="segment_header__top_menu">
				<div id="segment_header__top_menu__links">
					<a href="{{url('about')}}" class="item">About us</a>
					<a href="/#footer" class="item">Contact</a>
				</div>
			</div>
		</div>
	</div>
</div>