/**
 * - Settings: Fonts -
 * ===================
 * @todo: fonts								/fonts.less
 */

/**
 * @done: fonts								/fonts.less
 */
@font-face {
    font-family: 'FuturaPT-Book';
    /* IE9 Compat Modes */
    src: url("@{font-uri-base}/futura-pt-book.eot");
    /* Legacy iOS */
    src: url("@{font-uri-base}/futura-pt-book.eot?#iefix") format("embedded-opentype"),
         url("@{font-uri-base}/futura-pt-book.woff") format("woff"),
         url("@{font-uri-base}/futura-pt-book.ttf") format("truetype"),
         url("@{font-uri-base}/futura-pt-book.svg#svgFontName") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Book';
    /* IE9 Compat Modes */
    src: url("@{font-uri-base}/futura-pt-book-oblique.eot");
    /* Legacy iOS */
    src: url("@{font-uri-base}/futura-pt-book-oblique.eot?#iefix") format("embedded-opentype"),
         url("@{font-uri-base}/futura-pt-book-oblique.woff") format("woff"),
         url("@{font-uri-base}/futura-pt-book-oblique.ttf") format("truetype"),
         url("@{font-uri-base}/futura-pt-book-oblique.svg#svgFontName") format("svg");
    font-weight: 400;
    font-style: italic;
}