/**
 * - Settings: Typography -
 * ========================
 * @todo: typography								/typography.less
 */
/**
 * @done: typography								/typography.less
 */
.text-normal {
  font-weight: 400 !important;
}

.text-light {
  font-weight: 300 !important;
}

.text-medium {
  font-weight: 500 !important;
}

.text-bold {
  font-weight: 700 !important;
}

.text-italic {
  font-style: italic !important;
}

.text-underline{
  text-decoration: underline;
}