{% extends base_template %}

{% block bodyClass %}page-profile{% endblock %}

{% block content %}
<div id="segment_1">
    <div class="container">
        <div class="row">
            <div id="segment_1__segment_statistics">
                <div class="list">
                    <div class="item">
                        <div class="univtop statistic">
                            <div class="value">25</div>
                            <div class="label">questions</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="univtop statistic">
                            <div class="value">46</div>
                            <div class="label">answers</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="univtop statistic">
                            <div class="value">65</div>
                            <div class="label">upvote</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="univtop statistic">
                            <div class="value">24</div>
                            <div class="label">followers</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="univtop statistic">
                            <div class="value">72</div>
                            <div class="label">following</div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a class="univtop button" data-action="follow">Follow</a>
                </div>
                <div class="text-right">
                    <a href="#">Edit profile</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="segment_2">
    <div class="container">
        <div class="row">
            <div class="univtop tabular menu" id="segment_2__menu">
                <div class="active item" data-target="#segment_3__segment_questions__tabs__tab_1">Questions</div>
                <div class="item" data-target="#segment_3__segment_questions__tabs__tab_2">Answered</div>
                <div class="item" data-target="#segment_3__segment_questions__tabs__tab_3">Followed</div>
            </div>
        </div>
    </div>
</div>

<div id="segment_3">
    <div class="container">
        <div class="row">
            <div id="segment_3__segment_info">
                <div class="univtop card">
                    <div class="thumbnail">
                        <img src="{{static('css/prod/images/demo/pages/profile/segment-2.info.avatar-1.png')}}" alt="" width="210" height="210"/>
                    </div>
                    <div class="content">
                        <div href="#" class="meta name">{{user_login.userprofile.get_user_fullname()}}</div>
                        <div class="meta location">Chicago, IL</div>
                        <div class="meta">Graphic Design</div>
                        <div class="meta">Columbia College Chicago</div>
                        <div class="meta joined date">Joined March 2016</div>
                    </div>
                </div>
            </div>
            <div id="segment_3__segment_questions">
                <div class="body">
                    <div class="tabs" id="segment_3__segment_questions__tabs">
                        <div class="tab active" id="segment_3__segment_questions__tabs__tab_1">
                            <div class="list questions">
                                <div class="item question" data-id="9" data-is-expanded="0">
                                    <div class="univtop card">
                                        <div class="thumbnail">
                                            <img src="{{static('css/prod/images/demo/pages/question/segment-2.avatar-1.png')}}" alt="">
                                            <a href="profile.html" class="meta name">Stephanie</a>
                                        </div>
                                        <div class="content">
                                            <div class="segment">
                                                <div class="header">
                                                    <div class="actions">
                                                        <a href="#" data-action="follow" data-question-id="2222" data-is-followed="0">Follow</a>
                                                    </div>
                                                    <div class="meta time">2d</div>
                                                    <div class="tags">
                                                        <a class="tag">Housing</a>
                                                        <a class="tag">Drexel</a>
                                                        <a class="tag">Campus Life</a>
                                                    </div>
                                                </div>

                                                <div class="body">
                                                    <div class="summary">Lorem ipsum dolor sit amet, cum regione nonumes dissentiunt ei, ei nec alii dicta labore, eu est dicta vitup eratoribus. Id est diam alia quaestio, mel sale menandri no?</div>
                                                    <div class="extra text">
                                                        Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
                                                        <a href="#" data-action="expand">more</a>
                                                    </div>
                                                </div><!-- end .body -->

                                                <div class="footer">
                                                    <a class="univtop label">
                                                        <i class="univtop icon heart"></i>70
                                                    </a>

                                                    <a class="univtop label">
                                                        <i class="univtop icon chat-bubble"></i>70
                                                    </a>
                                                </div><!-- end .footer -->
                                            </div>
                                        </div>
                                        <div class="answers">
                                            <div class="item">
                                                <div class="univtop card">
                                                    <div class="thumbnail">
                                                        <img src="{{static('css/prod/images/demo/pages/question/segment-2.avatar-1.png')}}" alt="" width="56" height="56">
                                                        <a href="#" class="meta name">Stephanie</a>
                                                    </div>
                                                    <div class="content">
                                                        <div class="segment">
                                                            <div class="body">
                                                                <div class="summary">Lorem ipsum dolor sit amet, cum regione nonumes dissentiunt ei, ei nec alii dicta labore, eu est dicta vitup eratoribus. Id est diam alia quaestio, mel sale menandri no?</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="univtop card">
                                                    <div class="thumbnail">
                                                        <img src="{{static('css/prod/images/demo/pages/question/segment-2.avatar-1.png')}}" alt="" width="56" height="56">
                                                        <a href="#" class="meta name">Stephanie</a>
                                                    </div>
                                                    <div class="content">
                                                        <div class="segment">
                                                            <div class="body">
                                                                <div class="summary">Lorem ipsum dolor sit amet, cum regione nonumes dissentiunt ei, ei nec alii dicta labore, eu est dicta vitup eratoribus. Id est diam alia quaestio, mel sale menandri no?</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <form class="univtop form" data-form="reply" data-question-id="10">
                                            <div class="inline fields">
                                                <div class="field avatar">
                                                    <img src="{{static('css/prod/images/demo/pages/question/segment-2.avatar-1.png')}}" alt="" width="72" height="72"/>
                                                    <div class="meta name">YOU</div>
                                                </div>
                                                <div class="field input">
                                                    <div class="fields">
                                                        <div class="field">
                                                            <textarea name="content" placeholder="Add your answer"></textarea>
                                                        </div>
                                                        <div class="field text-right">
                                                            <button type="submit" class="univtop button">Submit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="item question" data-id="10" data-is-expanded="0">
                                    <div class="univtop card">
                                        <div class="thumbnail">
                                            <img src="{{static('css/prod/images/demo/pages/question/segment-2.avatar-1.png')}}" alt="" width="72" height="72">
                                            <a href="profile.html" class="meta name">Stephanie</a>
                                        </div>
                                        <div class="content">
                                            <div class="segment">
                                                <div class="header">
                                                    <div class="actions">
                                                        <a href="#" data-action="follow" data-question-id="2222" data-is-followed="1">Followed</a>
                                                    </div>
                                                    <div class="meta time">2d</div>
                                                    <div class="tags">
                                                        <a class="tag">Housing</a>
                                                        <a class="tag">Drexel</a>
                                                        <a class="tag">Campus Life</a>
                                                    </div>
                                                </div>

                                                <div class="body">
                                                    <div class="summary">Lorem ipsum dolor sit amet, cum regione nonumes dissentiunt ei, ei nec alii dicta labore, eu est dicta vitup eratoribus. Id est diam alia quaestio, mel sale menandri no?</div>
                                                    <div class="extra text">
                                                        Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
                                                        <a data-action="expand" href="#">more</a>
                                                    </div>
                                                </div>

                                                <div class="footer">
                                                    <a class="univtop label">
                                                        <i class="univtop icon heart"></i>70
                                                    </a>

                                                    <a class="univtop label">
                                                        <i class="univtop icon chat-bubble"></i>70
                                                    </a>
                                                </div><!-- end .footer -->
                                            </div>
                                        </div>
                                        <div class="answers">
                                            <div class="item">
                                                <div class="univtop card">
                                                    <div class="thumbnail">
                                                        <img src="{{static('css/prod/images/demo/pages/question/segment-2.avatar-1.png')}}" alt="" width="56" height="56">
                                                        <a href="#" class="meta name">Stephanie</a>
                                                    </div>
                                                    <div class="content">
                                                        <div class="segment">
                                                            <div class="body">
                                                                <div class="summary">Lorem ipsum dolor sit amet, cum regione nonumes dissentiunt ei, ei nec alii dicta labore, eu est dicta vitup eratoribus. Id est diam alia quaestio, mel sale menandri no?</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="univtop card">
                                                    <div class="thumbnail">
                                                        <img src="{{static('css/prod/images/demo/pages/question/segment-2.avatar-1.png')}}" alt="" width="56" height="56">
                                                        <a href="#" class="meta name">Stephanie</a>
                                                    </div>
                                                    <div class="content">
                                                        <div class="segment">
                                                            <div class="body">
                                                                <div class="summary">Lorem ipsum dolor sit amet, cum regione nonumes dissentiunt ei, ei nec alii dicta labore, eu est dicta vitup eratoribus. Id est diam alia quaestio, mel sale menandri no?</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <form class="univtop form" data-form="reply" data-question-id="10">
                                            <div class="inline fields">
                                                <div class="field avatar">
                                                    <img src="{{static('css/prod/images/demo/pages/question/segment-2.avatar-1.png')}}" alt="" width="72" height="72">
                                                    <div class="meta name">YOU</div>
                                                </div>
                                                <div class="field input">
                                                    <div class="fields">
                                                        <div class="field">
                                                            <textarea name="content" placeholder="Add your answer"></textarea>
                                                        </div>
                                                        <div class="field text-right">
                                                            <button type="submit" class="univtop button">Submit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab" id="segment_3__segment_questions__tabs__tab_2">2</div>
                        <div class="tab" id="segment_3__segment_questions__tabs__tab_3">3</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}