/**
 * - Page: Contact -
 * =================
 */
.page-contact{}

.page-contact{
  #segment_1{
    height: 60px;
    background-repeat: no-repeat;
    background-image: url('@{image-uri-base}/pages/contact/segment-1.background.png');
    background-position: top center;
    -webkit-background-size: 100% 60px;
    background-size:100% 60px;
  }

  #segment_2{
    .bg-white;
    padding-top: 60px;
    padding-bottom: 100px;

    >.container{
      >.row{
        >.header{
          >.title{
            .text-blue-chill;
            font-size: 56px;
            line-height: 56px;
            margin-top: 0;
            margin-bottom: 10px;
          }
          >.subtitle{
            .text-gray;
            font-size: 20px;
            line-height: 20px;
          }
        }
        >.body{
          >.row{
            >.column{
              .make-sm-column(6);

              >#segment_2__segment_info{
                margin-top: 20px;
                >.body{
                  >.list{
                    display: table;
                    //width: 100%;

                    >.item{
                      display: table-row;

                      >.icon{
                        padding-top: 20px;
                        display: table-cell;
                        line-height: 32px;
                        width: 56px;
                        padding-right: 16px;
                        background-repeat: no-repeat;
                        background-position: left 25px;
                      }
                      >.text{
                        padding-top: 20px;
                        display: table-cell;
                        line-height: 32px;
                        font-size: 20px;
                        border-bottom: 1px solid @color-fountain-blue;

                        a{
                          .text-fountain-blue;
                          text-decoration: none;

                          &:hover{
                            opacity: 0.8;
                          }
                        }
                      }
                    }
                    >.item{
                      &.email .icon{
                        background-image: url('@{icon-uri-base}/envelope.png');
                      }
                      &.phone .icon{
                        background-image: url('@{icon-uri-base}/phone.png');
                      }
                      &.location .icon{
                        background-image: url('@{icon-uri-base}/location-picker.png');
                      }
                    }
                  }
                }
              }

              >.form{
                font-size: 20px;

                >.group{
                  >.field{
                    >input{
                      .form-control;
                      height: 44px;
                      font-size: 17px;
                      line-height: 30px;
                      box-shadow: 2px 3px 3px fade(@color-black, 20%);
                      margin-bottom: 20px;

                      &:focus{
                        box-shadow: 2px 3px 3px fade(@color-black, 20%);
                        border-color: @color-fountain-blue;
                      }
                    }
                    >textarea{
                      .form-control;
                      resize: vertical;
                      box-shadow: 2px 3px 3px fade(@color-black, 20%);
                      height: 150px;
                      font-size: 17px;
                      line-height: 30px;
                      margin-bottom: 20px;

                      &:focus{
                        box-shadow: 2px 3px 3px fade(@color-black, 20%);
                        border-color: @color-fountain-blue;
                      }
                    }

                    >button{
                      .text-white;
                      .text-italic;
                      .gradient(#F8B64D, #F09B60);
                      height: 40px;
                      font-size: 20px;
                      border: none;
                      border-radius: 8px;
                    }
                  }
                }

                >.group.error{
                  .text-italic;
                  .text-flame-pea;
                  >.list{

                  }
                }
              }
            }
          }
        }
      }
    }
  }
}