/**
 * - Page: Home -
 * ==============
 */

.page-home{
  #header{
    background-image: none;
  }
  #segment_1{
    height: 700px;
    background-repeat: no-repeat;
    background-image: url('@{image-uri-base}/pages/home/segment-1.background.jpg');
    background-position: bottom center;

    -webkit-background-size:cover;
    background-size:cover;
    margin-top: -84px;
    padding-top: 84px;

    position: relative;

    #segment_1__blurred_logo{
      .text-center;
      margin-top: 60px;
      margin-bottom: 20px;
    }

    #segment_1__text_1{
      .text-dove-gray;
      .text-center;
      font-size: 24px;
      letter-spacing: -0.6px;
    }

    #segment_1__text_2{
      .text-center;
      .text-uppercase;
      .text-fountain-blue;
      .center;
      margin-top: 24px;
      font-size: 64px;
      width: 400px;
      line-height: 80px;
    }

    #segment_1__form_ask{
      width: 416px;
      position: relative;
      .center;
      margin-top: 16px;

      #segment_1__form_ask__input{
        .form-control;
        border-radius: 8px;
        border-color: transparent;
        box-shadow: none;
      }

      #segment_1__form_ask__submit{
        .bg-ocean-green;
        .text-white;
        font-size: 18px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 0 8px 8px 0;
        line-height: 20px;
      }
    }

    #segment_1__toggle_scroll_down{
      .text-center;
      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0;
    }
  }

  #segment_2{
    padding-top: 88px;
    padding-bottom: 72px;

    #segment_2__text_1{
      .text-uppercase;
      .text-center;
      .text-fountain-blue;
      font-size: 34px;
      line-height: 34px;
    }

    #segment_2__text_2{
      .text-center;
      .text-dove-gray;
      font-size: 21px;
    }

    #segment_2__slogans{
      margin-top: 32px;
      .item{
        .make-xs-column(12);
        .make-sm-column(4);

        >.thumbnail{
          border-radius: 0;
          padding: 0;
          margin-bottom: 44px;
          border: none;
        }

        >.text{
          font-size: 20px;
        }
      }
    }
  }

  #segment_3{
    .bg-linen;
    padding: 40px 0;

    #segment_3__testimonials{
      >.item{
        position: relative;
        padding: 40px 0;

        &:after{
          content: '';
          height: 1px;
          width: 280px;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          .center;

          .bg-ocean-green;
        }

        >.text{
          .text-gray;
          .text-center;
          font-size: 20px;
          font-style: italic;
          line-height: 24px;
          margin-bottom: 36px;
        }

        >.avatar{
          .clearfix;
          .center;
          width: 168px;

          >.image{
            .left;
            margin-right: 16px;
          }
          >.info{
            .left;
            padding-top: 16px;
            font-size: 16px;

            >.name{
              .text-fountain-blue;
            }

            >.meta.location{
              .text-gray;
            }
          }
        }
      }

      >.item:last-child{
        &:after{
          content: none;
        }
      }
    }
  }//#segment_3

  #segment_4{
    padding: 56px 0;

    #segment_4__button_container{
      .text-center;
      position: relative;
      padding-bottom: 40px;

      &:after{
        content: '';
        height: 1px;
        width: 90px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        .center;

        .bg-ocean-green;
      }

      #segment_4__button_container__button_register{
        .bg-ocean-green;
        .text-white;
        width: 170px;
        border-radius: 12px;

        >.title{
          font-size: 24px;
          line-height: 30px;
        }

        >.subtitle{
          font-size: 16px;
          line-height: 13px;
        }
      }
    }

    #segment_4__top_contributors{
      padding-top: 54px;

      >.header{
        >.title{
          display: inline;
          font-size: 26px;
          .text-porsche;
          .text-uppercase;
          margin-right: 24px;
        }

        >.subtitle{
          display: inline;
          font-size: 16px;
        }
      }//>.header

      >.body{
        padding-top: 20px;

        >.list{
          >.item{
            .make-xs-column(12);
            .make-sm-column(4);

            >.avatar{
              >.image{
                .left;
                width: 86px;
                height: 86px;
                border-radius: 44px;
                border: 16px solid #E8E8E7;

                >img{
                  border-radius: 27px;
                }
              }
              >.info{
                .left;
                margin-left: -6px;
                padding-top: 16px;

                >.line-1{
                  line-height: 18px;

                  >.meta.name{
                    .text-fountain-blue;
                    font-size: 17px;
                  }
                  >.meta.location{
                    font-size: 12px;
                  }
                }
                >.line-2{
                  font-size: 12px;
                }
                >.line-3{
                  >.tag.follow{
                    font-size: 10px;
                    width: 64px;
                    height: 20px;
                    line-height: 20px;
                    display: inline-block;
                    .text-white;
                    background-color: #BAC7BD;
                    .text-center;
                    .text-uppercase;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}