/**
 * - Page: Question -
 * ==================
 */
.page-questions{}

.page-questions{
  background-image: url('@{image-uri-base}/pages/question/background.jpg');

  #segment_1{
    .bg-white;
    padding: 15px 0;

    >.container{
      .row{
        >.header{}
        >.body{
          .clearfix;

          #form_ask_question{
            width: 565px;
            margin: 0 auto;

            >.fields{}
            >.inline.fields{
              >.field{
                >input{
                  .form-control;
                  height: 36px;
                }
                #form_ask_question__input{
                  padding-left: 30px;
                  background-repeat: no-repeat;
                  background-image: url('@{icon-uri-base}/magnifier.png');
                  background-position: 4px 4px;
                  font-size: 18px;

                  .ms-sel-ctn{
                    margin-left: 0;

                    .ms-sel-item{
                      .bg-transparent;
                      border: medium none;
                      font-size: 18px;
                      line-height: 24px;
                      color: inherit;
                      margin: 1px 0;
                      padding: 0;

                      .ms-close-btn{
                        display: none;
                      }
                    }
                  }
                  .ms-res-ctn{
                    .ms-res-item{
                      >a{
                        display: block;
                      }
                    }
                  }
                }
                >button{
                  .text-white;
                  .gradient(#F8B64D, #F09B60);
                  height: 36px;
                  line-height: 24px;
                  font-size: 20px;
                  border: none;
                  border-radius: 8px;
                }
              }
            }
          }
        }
      }
    }
  }

  #segment_2{
    >.container{
      .row{
        >.header{
          padding-top: 2px;

          #segment_2__menu{
            .clearfix;
            .bg-white;
            margin: 0 auto;
            margin-bottom: 10px;
            width: 500px;
            height: 36px;
            display: flex;
            -webkit-box-orient: horizontal;
            flex-direction: row;

            box-shadow: 0 1px 1px fade(#BCBBBB, 75%);
            border-radius: 5px;
            padding: 0 10px;

            >.item{
              .text-center;
              .text-uppercase;
              flex: 0 1 auto;
              width: (1/3)*100%;
              line-height: 36px;
              margin: 0 30px;
              padding: 0 15px;
              font-size: 18px;
              cursor: pointer;
            }

            >.item.active,
            >.item:hover{
              .text-(#EE9960);
              border-bottom: 3px solid #EE9960;
            }
          }
        }
        >.body{
          #segment_2__tabs{
            width: 850px;
            margin: 0 auto;
            >.tab{
              display: none;

              >.list{
                .clearfix;

                >.item{}

                >.item[data-is-expanded="0"]{
                  >.@{namespace}.card{
                    >.answers,
                    >form{
                      display: none;
                      visibility: hidden;
                    }
                  }
                }

                >.item[data-is-expanded="1"]{
                  >.@{namespace}.card{
                    >.answers,
                    >form{
                      display: block;
                      visibility: visible;
                    }
                  }
                }
              }
            }
            >.tab.active{
              display: block;
            }
          }
        }
      }
    }
  }
}