{% extends base_template %}

{% block bodyClass %}page-notifications{% endblock %}

{% block content %}
<div id="segment_1">
    <div class="header">
        <div class="container">
            <div class="title">
                My Notification
            </div>
        </div>
    </div>

    <div class="body">
        <div class="container">
            <div class="univtop feed">
                
                {% for notification in object_list %}
                    <a class="event" href="#">
                        <div class="label">
                            <img src="{{get_image_url(notification.notify_from.userprofile.avatar,32,32,'fit')}}" alt="">
                        </div>
                        <div class="content">
                            <div class="summary">
                                {{notification.get_html_content()}}
                            </div>
                            <div class="meta date">{{notification.date|display_elapse_time}}</div>
                        </div>
                    </a>
                {% else %}
                    <div class='empty'>
                        <h3>You don't have any notification</h3>
                        <p><i class='univtop icon zzz'></i></p>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock %}
