{% extends base_template %}

{% block bodyClass %}page-download{% endblock %}

{% block content %}

<div id="segment_1"></div>
<div id="segment_2">
    <div class="header">
        <div class="title">Download The App</div>
        <div class="subtitle">Get it free on:</div>
    </div>
    <div class="body">
        <div class="list" id="segment_2__list">
            <!-- <a class="item" href="#">
                <img src="{{static('css/prod/images/google-play-store.png')}}" alt=""/>
            </a> -->
            <a class="item" href="#">
                <img src="{{static('css/prod/images/apple-appstore.png')}}" alt=""/>
            </a>
        </div>
    </div>
</div>
<div id="segment_3"></div>

{% endblock %}