{% extends base_template %}

{% block bodyClass %}page-about-us{% endblock %}

{% block content %}
<div id="segment_1">
    <div class="container">
        <div class="row">
            <div class="header">
                <div class="title">About Us</div>
            </div>
            <div class="body">
                <p>Univtop is a multi-platform application that enables international students to better plan their future. Our application allows users to connect with a like-minded community and create opportunities by networking with friends and mentors.</p>
                <p>Our mission is to become the number one and most trusted study-abroad platform for international students in the English-speaking world.<br>
                With Univtop, international students will be equipped with everything they need and empowered to succeed in both academic and professional realms. 
                </p>
                <p>"Travelling widens one's horizon." Univtop believes in the power of knowledge. Studying abroad is the most effective way for people to learn new things, immerse in new cultures, gain knowledge, and become more open-minded and understanding.<br>
                With Univtop, studying abroad will become much easier and more accessible.
                </p>
            </div>
        </div>
    </div>
</div>

<div id="segment_2">
    <div class="container">
        <div class="row">
            <div class="header">
                <div class="title">Our team</div>
            </div>
            <div class="body">
                <div class="list">
                    
                    <div class="item">
                        <div class="avatar">
                            <div class="image">
                                <img src="{{static('img/apps/contributor/Dang_square.jpg')}}" alt="">
                            </div>
                            <div class="info">
                                <div class="name">Dang Nguyen</div>
                                <div class="meta position">Engineer</div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="avatar">
                            <div class="image">
                                <img src="{{static('img/apps/contributor/Duc_square.jpg')}}" alt="">
                            </div>
                            <div class="info">
                                <div class="name">Duke Vu</div>
                                <div class="meta position">Engineer</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="avatar">
                            <div class="image">
                                <img src="{{static('img/apps/contributor/Chelsea_square.jpg')}}" alt="">
                            </div>
                            <div class="info">
                                <div class="name">Chelsea Lam</div>
                                <div class="meta position">Marketing</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="avatar">
                            <div class="image">
                                <img src="{{static('img/apps/contributor/Hailey_square.jpg')}}" alt="">
                            </div>
                            <div class="info">
                                <div class="name">Hailey Tran</div>
                                <div class="meta position">Designer</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="avatar">
                            <div class="image">
                                <img src="{{static('img/apps/contributor/Anh_square.jpg')}}" alt="">
                            </div>
                            <div class="info">
                                <div class="name">Anh Le</div>
                                <div class="meta position">Designer</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="avatar">
                            <div class="image">
                                <img src="{{static('img/apps/contributor/Hao_square.jpg')}}" alt="">
                            </div>
                            <div class="info">
                                <div class="name">Hao Wu</div>
                                <div class="meta position">Engineer</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="avatar">
                            <div class="image">
                                <img src="{{static('img/apps/contributor/Xindy_square.jpg')}}" alt="">
                            </div>
                            <div class="info">
                                <div class="name">Xindy Wang</div>
                                <div class="meta position">Operation</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="avatar">
                            <div class="image">
                                <img src="{{static('img/apps/contributor/Quoc_square.jpg')}}" alt="">
                            </div>
                            <div class="info">
                                <div class="name">Quoc Le</div>
                                <div class="meta position">Engineer</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="avatar">
                            <div class="image">
                                <img src="{{static('img/apps/contributor/Duong_square.jpg')}}" alt="">
                            </div>
                            <div class="info">
                                <div class="name">Duong Le</div>
                                <div class="meta position">Engineer</div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}