/**
 *   Style: Univtop
 */
@namespace: univtop;

@vendor-uri-base: '../vendors';
@image-uri-base: '../assets/images';
@icon-uri-base: '../assets/images/icons';
@font-uri-base: '../assets/fonts';

@ie8: \0screen;
@1024: ~'(max-width: @{container-large-desktop})';

/**
 * - Third-party libraries & Overrides -
 * =====================================
 */

@import 'overrides/bootstrap.less';
@import 'overrides/magicsugget.less';

/**
 * ============
 * - Settings -
 * ============ 
 */
@import 'settings/variables.less';
@import 'settings/colors.less';
@import 'settings/fonts.less';
@import 'settings/typography.less';
@import 'settings/animation.less';
@import 'settings/helpers.less';

/**
 * - Components -
 * ==============
 */
@import 'components/icons.less';
@import 'components/buttons.less';
@import 'components/list.less';
@import 'components/cards.less';
@import 'components/form.less';
@import 'components/table.less';
@import 'components/statistic.less';

/**
 * - Modules -
 * ===========
 */
@import 'modules/header.less';
@import 'modules/footer.less';
@import 'modules/modal.less';
@import 'modules/question.less';

/**
 * - Layouts -
 * ===========
 */

@import 'layouts/base.less';

/**
 * - Pages -
 * =========
 */

@import 'pages/home.less';
@import 'pages/about-us.less';
@import 'pages/contact.less';
@import 'pages/question.less';
@import 'pages/download.less';
@import 'pages/profile.less';

/**
 * - Misc -
 * =========
 */

@import 'misc/misc.less';
@import 'misc/mixins.less';