/**
 * - Module: Modal -
 * =================
 */

.bootbox.modal{
  >.modal-dialog{
    >.modal-content{
      >.modal-header{
        >.modal-title{
          >.title{}
          >.subtitle{}
        }
      }
      >.modal-body{
        >.bootbox-body{

        }
      }
    }
  }
}

.bootbox.modal{
  background-color: fade(@color-white, 30%);
  
  >.modal-dialog{
    width: 450px;
    padding-top: 185px;

    >.modal-content{
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      box-shadow: 7px 7px 5px rgba(0,0,0,0.3);
      padding-top: 11px;
      background-repeat: no-repeat;
      background-position: top center;
      background-image: url('@{image-uri-base}/modules/modal/header.background.png');
      -webkit-background-size: 100% auto;
      background-size: 100% auto;

      >.modal-header{
        border-bottom: none;
        padding: 15px 0 0 0;

        >.bootbox-close-button{
          margin-top: -10px;
          font-size: 30px;
          margin-right: -5px;
          position: absolute;
          right: 0;
        }

        >.modal-title{
          .text-center;

          >.title{
            font-size: 24px;
            line-height: 24px;
          }
          >.subtitle{
            .text-italic;
            font-size: 18px;
            line-height: 18px;
          }
        }
      }
      >.modal-body{
        >.bootbox-body{
          padding: 0 45px;

          .@{namespace}.form{
            >.fields{
              >.field{
                margin-bottom: 10px;

                >label{
                  .text-normal;
                  display: block;
                  font-size: 13px;
                }
                >input{
                  .form-control;
                }
                >input[type=text],
                >input[type=password]{
                  -webkit-box-shadow: 2px 3px 3px rgba(0,0,0,0.2);
                  -moz-box-shadow: 2px 3px 3px rgba(0,0,0,0.2);
                  box-shadow: 2px 3px 3px rgba(0,0,0,0.2);
                }
                a{
                  cursor: pointer;
                  text-decoration: none;
                }

                a[data-target=modal-forgot-password]{
                  .text-italic;
                  .text-gray;
                  .text-underline;
                }
                a[data-target=modal-register],
                a[data-target=modal-login-in]{
                  .text-fountain-blue;
                  .text-medium;
                }
                >button{
                  .gradient(#F8B64D, #F09B60);
                  .text-white;
                  .text-italic;
                  font-size: 17px;
                  height: 30px;
                  padding: 6px 15px;
                  line-height: 18px;
                  border-radius: 10px;
                }
                p{
                  line-height: 14px;
                }
              }
              >.field.error{
                .text-flame-pea;
              }
            }
            >.inline.fields{
              display: flex;

              >.field{
                display: inline-block;
                padding-left: 5px;
                padding-right: 5px;
                vertical-align: top;
              }
              >.field:first-child{
                padding-left: 0;
              }
              >.field:last-child{
                padding-right: 0;
              }

              .six.wide.field{
                width: 50%;
              }
            }
          }
        }
      }
    }
  }
}

.bootbox.modal.modal-login{
  >.modal-dialog{
    >.modal-content{
      
      >.modal-header{

        >.bootbox-close-button{
        }

        >.modal-title{

          >.title{
            .text-uppercase;
          }
          >.subtitle{
          }
        }
      }
      >.modal-body{
        >.bootbox-body{

          .@{namespace}.form{
            >.fields{
              >.field{

                >label{}
                >input{}
                a[data-target=modal-forgot-password]{}
                a[data-target=modal-register]{}
                >button{}
                p{}
              }
              >.field.error{}
            }
            >.inline.fields{
              >.field{}
              >.field:last-child{}
            }
          }
        }
      }
    }
  }
}