{% extends base_template %}

{% block bodyClass %}page-error page-404{% endblock %}

{% block content %}
<div id="segment_1">
    <div class="container">
        <div class="row">
            <div class="header">
                <div class="title">404</div>
            </div>
            <div class="body">
                <p id="segment_1__body__line_1">We're sorry. This page is not found.</p>
                <p id="segment_1__body__line_2">
                    <span>Go to Univtop's <a href="{{url('home')}}">Home</a> page.</span>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}