{% extends base_template %}

{% block bodyClass %}page-error page-500{% endblock %}

{% block content %}
<div id="segment_1">
    <div class="container">
        <div class="row">
            <div class="header">
                <div class="title">Something went wrong.</div>
            </div>
            <div class="body">
                <p id="segment_1__body__line_1">We're sorry for the trouble. We've been notified of the error and will correct it as soon as possible. Please try your request again in a moment</p>
                <p id="segment_1__body__line_2">
                    <span>Go to Univtop's <a href="{{url('home')}}">Home</a> page.</span>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}