<!DOCTYPE html>
<html lang="en-US">
<head>

    {% block title %}
        <title> {{SITE_NAME|title}}</title>
    {% endblock %}

    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="{{SITE_KEYWORDS}}" />        
        <meta name="description" content="{{SITE_DESCRIPTION}}" />
        <meta name="robots" content="index,follow" />

        <meta property="fb:page_id" content="{{FACEBOOK_PAGE_ID}}" />
        <meta property="og:site_name" content="Univtop">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://univtop.com/">
        <meta property="og:title" content="Univtop | Study Abroad & International Student">
        <meta property="og:description" content="{{SITE_DESCRIPTION}}">

       
        <meta property="al:ios:app_store_id" content="{{IOS_APP_ID}}" />
        <meta property="al:ios:app_name" content="Univtop" />

       
        
    {% endblock %}
    <link rel="icon" href="{{static('img/ico/favicon.ico')}}" type="image/x-icon" />

    {{load_css()|safe}}

    {% block header_css %}

    {% endblock %}

    {% block header_scripts %}
    {% endblock %}

</head>
<body class="layout-base {% block bodyClass %}{% endblock %}" id="{% block bodyId %}{% endblock %}">

    {% if request_message %}
        {{ request_message }}
    {% endif %}

    {% block header %} 
        {% include ["sites/" + template_type + "/common/header" + TEMPLATE_FILE_EXTENSION] ignore missing %}
    {% endblock %}

    {% block content %} 
    {% endblock %} 

    <div id="loading_icon"></div>

    {% block footer %}
        {% include ["sites/" + template_type + "/common/footer" + TEMPLATE_FILE_EXTENSION] ignore missing %}
    {% endblock %}

    <div id='modal_section'> 
        {% block modal %}        
        {% endblock %}
    </div>

    <div id="hidden_section">
        {% if user_login %}
            <input type='hidden' id='is_user_login' value="True">
            <input type='hidden' id='user_login_username' value='{{user_login.username}}'>
        {% else %}
            <input type='hidden' id='is_user_login' value='False'>
        {% endif %}

        <input type='hidden' id='api_url' value='{{API_URL}}'/>
        <input type='hidden' id='page_type' value='{{page_type}}'/>


        {% block hidden %}
        {% endblock %}     

    </div>
       
    
    {% block footer_script %} 

        {% block footer_plugin_scripts %}
        {% endblock %}

        {% block footer_external_scripts %} {% endblock %}

        {{load_js()|safe}}

        {% block footer_custom_scripts %} {% endblock %}

        {% block google_analytics %}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-76460462-1', 'auto');
                ga('send', 'pageview');

            </script>
        {% endblock %}
        
    {% endblock %}

</body>
</html>
