{% extends '../layouts/base.swig' %}

{% block pageTitle %}Download{{test}}{% endblock %}

{% block bodyClass %}page-download{% endblock %}

{% block content %}
<div id="segment_1"></div>
<div id="segment_2">
    <div class="header">
        <div class="title">Download The App</div>
        <div class="subtitle">Get it free on:</div>
    </div>
    <div class="body">
        <div class="list" id="segment_2__list">
            <a class="item" href="#">
                <img src="../assets/images/google-play-store.png" alt=""/>
            </a>
            <a class="item" href="#">
                <img src="../assets/images/apple-appstore.png" alt=""/>
            </a>
        </div>
    </div>
</div>
<div id="segment_3"></div>

{% endblock %}