{% extends base_template %}

{% block bodyClass %}page-questions{% endblock %}

{% block content %}

<div id="segment_1">
    <div class="container">
        <div class="row">
            <div class="body">
                <form class="univtop form" id="form_ask_question">
                    <div class="inline fields">
                        <div class="nine wide field">
                            <input type="text" id="form_ask_question__input">
                        </div>
                        <div class="three wide field">
                            <button type="submit" id="form_ask_question__submit" class="univtop block button">Ask Question</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="segment_2">
    <div class="container">
        <div class="row">
            <div class="header">
                <div class="univtop tabular menu" id="segment_2__menu">
                    <div class="active item" data-target="#segment_2__tabs__tab_1">Trending</div>
                    <div class="item" data-target="#segment_2__tabs__tab_2">Category</div>
                    <div class="item" data-target="#segment_2__tabs__tab_3">Custom</div>
                </div>
            </div>
            <div class="body">
                <div class="tabs" id="segment_2__tabs">
                    <div class="tab active" id="segment_2__tabs__tab_1"></div>
                    <div class="tab" id="segment_2__tabs__tab_2"></div>
                    <div class="tab" id="segment_2__tabs__tab_3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}