/**
 * - Page: About Us -
 * ==================
 */

.page-about-us #segment_1 {
  color: #FFFFFF !important;
  height: 554px;
  overflow: hidden;
  padding: 100px 0;
  background-repeat: no-repeat;
  background-image: url('../../resources/images/pages/about-us/segment-1.background.png');
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}

.page-about-us #segment_1 > .container > .row > .header > .title {
  font-weight: 500 !important;
  font-size: 28px;
  margin-bottom: 34px;
}

.page-about-us #segment_1 > .container > .row > .body {
  font-size: 16px;
}

.page-about-us #segment_1 > .container > .row > .body p {
  margin-bottom: 24px;
}

.page-about-us #segment_2 > .container {
  background-color: #FFFFFF !important;
  padding: 64px 0 100px;
}

.page-about-us #segment_2 > .container .row > .header > .title {
  text-transform: uppercase;
  color: #0E8787 !important;
  font-weight: 300 !important;
  font-size: 56px;
  line-height: 56px;
  margin-bottom: 70px;
}

.page-about-us #segment_2 > .container .row > .body > .list {
  margin-left: -15px;
  margin-right: -15px;
}

.page-about-us #segment_2 > .container .row > .body > .list > .item {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .page-about-us #segment_2 > .container .row > .body > .list > .item {
    float: left;
    width: 50%;
  }
}

@media (min-width: 992px) {
  .page-about-us #segment_2 > .container .row > .body > .list > .item {
    float: left;
    width: 33.33333333%;
  }
}

.page-about-us #segment_2 > .container .row > .body > .list > .item > .avatar {
  width: 100%;
  display: table;
}

.page-about-us #segment_2 > .container .row > .body > .list > .item > .avatar > .image {
  text-align: left;
  display: table-cell;
  width: 120px;
}

.page-about-us #segment_2 > .container .row > .body > .list > .item > .avatar > .image > img {
  width: 100px;
  height:100px;
  border-radius:100px;
}

.page-about-us #segment_2 > .container .row > .body > .list > .item > .avatar > .info {
  text-align: left;
  display: table-cell;
  padding-top: 20px;
  vertical-align: top;
}

.page-about-us #segment_2 > .container .row > .body > .list > .item > .avatar > .info > .name {
  color: #636363 !important;
  font-size: 20px;
}

.page-about-us #segment_2 > .container .row > .body > .list > .item > .avatar > .info > .meta {
  color: #929292 !important;
  font-size: 18px;
  /*padding-left: 5px;*/
}

/*.page-about-us #footer {
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url('../../resources/images/pages/about-us/footer.background.png');
  -webkit-background-size: 100% 22px;
  background-size: 100% 22px;
}

.page-about-us #footer > #footer__row_1 {
  margin-top:20px;
}*/

/**
 * - Page: Contact -
 * =================
 */

/*.page-contact #segment_1 {
  height: 60px;
  background-repeat: no-repeat;
  background-image: url('../../resources/images/pages/contact/segment-1.background.png');
  background-position: top center;
  -webkit-background-size: 100% 60px;
  background-size: 100% 60px;
}

.page-contact #segment_2 {
  background-color: #FFFFFF !important;
  padding-top: 60px;
  padding-bottom: 100px;
}

.page-contact #segment_2 > .container > .row > .header > .title {
  color: #0E8787 !important;
  font-size: 56px;
  line-height: 56px;
  margin-top: 0;
  margin-bottom: 10px;
}

.page-contact #segment_2 > .container > .row > .header > .subtitle {
  color: #929292 !important;
  font-size: 20px;
  line-height: 20px;
}

.page-contact #segment_2 > .container > .row > .body > .row > .column {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .page-contact #segment_2 > .container > .row > .body > .row > .column {
    float: left;
    width: 50%;
  }
}

.page-contact #segment_2 > .container > .row > .body > .row > .column > #segment_2__segment_info {
  margin-top: 20px;
}

.page-contact #segment_2 > .container > .row > .body > .row > .column > #segment_2__segment_info > .body > .list {
  display: table;
}

.page-contact #segment_2 > .container > .row > .body > .row > .column > #segment_2__segment_info > .body > .list > .item {
  display: table-row;
}

.page-contact #segment_2 > .container > .row > .body > .row > .column > #segment_2__segment_info > .body > .list > .item > .icon {
  padding-top: 20px;
  display: table-cell;
  line-height: 32px;
  width: 56px;
  padding-right: 16px;
  background-repeat: no-repeat;
  background-position: left 25px;
}

.page-contact #segment_2 > .container > .row > .body > .row > .column > #segment_2__segment_info > .body > .list > .item > .text {
  padding-top: 20px;
  display: table-cell;
  line-height: 32px;
  font-size: 20px;
  border-bottom: 1px solid #58C4C7;
}

.page-contact #segment_2 > .container > .row > .body > .row > .column > #segment_2__segment_info > .body > .list > .item > .text a {
  color: #58C4C7 !important;
  text-decoration: none;
}

.page-contact #segment_2 > .container > .row > .body > .row > .column > #segment_2__segment_info > .body > .list > .item > .text a:hover {
  opacity: 0.8;
}

.page-contact #segment_2 > .container > .row > .body > .row > .column > #segment_2__segment_info > .body > .list > .item.email .icon {
  background-image: url('../../resources/images/icons/envelope.png');
}

.page-contact #segment_2 > .container > .row > .body > .row > .column > #segment_2__segment_info > .body > .list > .item.phone .icon {
  background-image: url('../../resources/images/icons/phone.png');
}

.page-contact #segment_2 > .container > .row > .body > .row > .column > #segment_2__segment_info > .body > .list > .item.location .icon {
  background-image: url('../../resources/images/icons/location-picker.png');
}

.page-contact #segment_2 > .container > .row > .body > .row > .column > .form {
  font-size: 20px;
}

.page-contact #segment_2 > .container > .row > .body > .row > .column > .form > .group > .field > input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  height: 44px;
  font-size: 17px;
  line-height: 30px;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.page-contact #segment_2 > .container > .row > .body > .row > .column > .form > .group > .field > input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.page-contact #segment_2 > .container > .row > .body > .row > .column > .form > .group > .field > input::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.page-contact #segment_2 > .container > .row > .body > .row > .column > .form > .group > .field > input:-ms-input-placeholder {
  color: #999;
}

.page-contact #segment_2 > .container > .row > .body > .row > .column > .form > .group > .field > input::-webkit-input-placeholder {
  color: #999;
}

.page-contact #segment_2 > .container > .row > .body > .row > .column > .form > .group > .field > input::-ms-expand {
  border: 0;
  background-color: transparent;
}

.page-contact #segment_2 > .container > .row > .body > .row > .column > .form > .group > .field > input[disabled],
.page-contact #segment_2 > .container > .row > .body > .row > .column > .form > .group > .field > input[readonly],
fieldset[disabled] .page-contact #segment_2 > .container > .row > .body > .row > .column > .form > .group > .field > input {
  background-color: #eeeeee;
  opacity: 1;
}

.page-contact #segment_2 > .container > .row > .body > .row > .column > .form > .group > .field > input[disabled],
fieldset[disabled] .page-contact #segment_2 > .container > .row > .body > .row > .column > .form > .group > .field > input {
  cursor: not-allowed;
}

textarea.page-contact #segment_2 > .container > .row > .body > .row > .column > .form > .group > .field > input {
  height: auto;
}

.page-contact #segment_2 > .container > .row > .body > .row > .column > .form > .group > .field > input:focus {
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
  border-color: #58C4C7;
}

.page-contact #segment_2 > .container > .row > .body > .row > .column > .form > .group > .field > textarea {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  resize: vertical;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
  height: 150px;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 20px;
}

.page-contact #segment_2 > .container > .row > .body > .row > .column > .form > .group > .field > textarea:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.page-contact #segment_2 > .container > .row > .body > .row > .column > .form > .group > .field > textarea::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.page-contact #segment_2 > .container > .row > .body > .row > .column > .form > .group > .field > textarea:-ms-input-placeholder {
  color: #999;
}

.page-contact #segment_2 > .container > .row > .body > .row > .column > .form > .group > .field > textarea::-webkit-input-placeholder {
  color: #999;
}

.page-contact #segment_2 > .container > .row > .body > .row > .column > .form > .group > .field > textarea::-ms-expand {
  border: 0;
  background-color: transparent;
}

.page-contact #segment_2 > .container > .row > .body > .row > .column > .form > .group > .field > textarea[disabled],
.page-contact #segment_2 > .container > .row > .body > .row > .column > .form > .group > .field > textarea[readonly],
fieldset[disabled] .page-contact #segment_2 > .container > .row > .body > .row > .column > .form > .group > .field > textarea {
  background-color: #eeeeee;
  opacity: 1;
}

.page-contact #segment_2 > .container > .row > .body > .row > .column > .form > .group > .field > textarea[disabled],
fieldset[disabled] .page-contact #segment_2 > .container > .row > .body > .row > .column > .form > .group > .field > textarea {
  cursor: not-allowed;
}

textarea.page-contact #segment_2 > .container > .row > .body > .row > .column > .form > .group > .field > textarea {
  height: auto;
}

.page-contact #segment_2 > .container > .row > .body > .row > .column > .form > .group > .field > textarea:focus {
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
  border-color: #58C4C7;
}

.page-contact #segment_2 > .container > .row > .body > .row > .column > .form > .group > .field > button {
  color: #FFFFFF !important;
  font-style: italic !important;
  background-color: #F8B64D;
  background: -webkit-gradient(linear, left top, left bottom, from(#F8B64D), to(#F09B60));
  background: -webkit-linear-gradient(top, #F8B64D, #F09B60);
  background: -moz-linear-gradient(top, #F8B64D, #F09B60);
  background: -ms-linear-gradient(top, #F8B64D, #F09B60);
  background: -o-linear-gradient(top, #F8B64D, #F09B60);
  height: 40px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
}

.page-contact #segment_2 > .container > .row > .body > .row > .column > .form > .group.error {
  font-style: italic !important;
  color: #E15744 !important;
}*/
