/**
 * - CUSTOMER CHANGE
 */
@media (min-width: 768px) {
  body.page-home {
    padding-bottom: 190px;
  }
}

@media (min-width: 768px) {
.page-home .univtop.footer {
    height: 190px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.page-home .univtop.footer .univtop.icon {
  background-size:100% 100%;
}



/**
 * - Page: Home -
 * ==============
 */
.page-home {
  /*background-image: url('../../resources/images/background.png');*/
  background-color: white;
}

.page-home #header {
  background-image: none;
  background-color: transparent;
}

/**
 * Segment 1
 */
.page-home #segment_1 {
  /*height: 840px;*/
  height: 780px;
  background-repeat: no-repeat;
  background-image: url('../../resources/images/pages/home/segment-1.background.jpg');
  background-position: bottom center;
  -webkit-background-size: cover;
  background-size: cover;
  margin-top: -84px;
  padding-top: 84px;
  position: relative;
}

.page-home #segment_1 #segment_1__blurred_logo {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

.page-home #segment_1 #segment_1__text_1 {
  color: #646464 !important;
  text-align: center;
  font-size: 24px;
  letter-spacing: -0.6px;
}

.page-home #segment_1 #segment_1__text_2 {
  text-align: center;
  text-transform: uppercase;
  color: #58C4C7 !important;
  font-weight: 300 !important;
  margin: 0 auto;
  margin-top: 24px;
  font-size: 64px;
  width: 500px;
  line-height: 80px;
}

.page-home #segment_1 #segment_1__form_ask {
  width: 416px;
  position: relative;
  margin: 0 auto;
  margin-top: 16px;
}

.page-home #segment_1 #segment_1__form_ask #segment_1__form_ask__input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  border-radius: 8px;
  border-color: transparent;
  box-shadow: none;
}

.page-home #segment_1 #segment_1__form_ask #segment_1__form_ask__input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.page-home #segment_1 #segment_1__form_ask #segment_1__form_ask__input::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.page-home #segment_1 #segment_1__form_ask #segment_1__form_ask__input:-ms-input-placeholder {
  color: #999;
}

.page-home #segment_1 #segment_1__form_ask #segment_1__form_ask__input::-webkit-input-placeholder {
  color: #999;
}

.page-home #segment_1 #segment_1__form_ask #segment_1__form_ask__input::-ms-expand {
  border: 0;
  background-color: transparent;
}

.page-home #segment_1 #segment_1__form_ask #segment_1__form_ask__input[disabled],
.page-home #segment_1 #segment_1__form_ask #segment_1__form_ask__input[readonly],
fieldset[disabled] .page-home #segment_1 #segment_1__form_ask #segment_1__form_ask__input {
  background-color: #eeeeee;
  opacity: 1;
}

.page-home #segment_1 #segment_1__form_ask #segment_1__form_ask__input[disabled],
fieldset[disabled] .page-home #segment_1 #segment_1__form_ask #segment_1__form_ask__input {
  cursor: not-allowed;
}

textarea.page-home #segment_1 #segment_1__form_ask #segment_1__form_ask__input {
  height: auto;
}

.page-home #segment_1 #segment_1__form_ask #segment_1__form_ask__submit {
  background-color: #ee9861 !important;
  color: #FFFFFF !important;
  font-size: 18px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 8px 8px 0;
  line-height: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.page-home #segment_1 #segment_1__toggle_scroll_down {
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

/**
 * Segment 2
 */
.page-home #segment_2 {
  padding-top:140px;
  padding-bottom:140px;
}

.page-home #segment_2 .container #segment_2__text_1{
  text-align: center;
  font-size: 30px;
  color: #5cbdb9;
  font-weight: 300 !important;
  width: 800px;
  margin: 0 auto;
}


/**
 * Segment 3
 */
.page-home #segment_3 {
  text-align: center;
  padding-top:30px;
  padding-bottom:50px;
  background-color: #eae9e6;
}

.page-home #segment_3 #segment_3__text_1 {
  font-size: 30px;
  text-transform: uppercase;
  color: #58C4C7 !important;
  /*font-weight: 300 !important;*/
  letter-spacing: 3px;
}

.page-home #segment_3 #segment_3__text_2 {
  color: #58C4C7 !important;
  /*font-weight: 300 !important;*/
  font-size:20px;
  margin-bottom:30px;
}

/**
 * Segment 4
 */
.page-home #segment_4 {
  color: #FFFFFF !important;
  padding-top: 88px;
  padding-bottom: 72px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-image: url('../../resources/images/pages/home/segment-2.background.png');
}

.page-home #segment_4 #segment_4__text_1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 3px;
}

.page-home #segment_4 #segment_4__text_2 {
  text-align: center;
  font-size: 20px;
}

.page-home #segment_4 #segment_4__slogans {
  margin-top: 32px;
}

.page-home #segment_4 #segment_4__slogans .item {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .page-home #segment_4 #segment_4__slogans .item {
    float: left;
    width: 33.33333333%;
  }
}

.page-home #segment_4 #segment_4__slogans .item > .thumbnail {
  border-radius: 0;
  padding: 0;
  margin-bottom: 44px;
  border: none;
}

.page-home #segment_4 #segment_4__slogans .item > .text {
  font-size: 20px;
  text-align: center;
  padding-left:20px;
  padding-right:20px;
  font-weight: 300;
}



/**
 * Segment 5
 */
.page-home #segment_5 {
  padding: 40px 0;
  background-color: #fff3eb;
}

.page-home #segment_5 #segment_5__testimonials > .item {
  position: relative;
  padding: 40px 0;
  /*&:after{
          content: '';
          height: 1px;
          width: 280px;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          .center;

          .bg-ocean-green;
        }*/
}

.page-home #segment_5 #segment_5__testimonials > .item > .text {
  font-family: 'HelveticaNeue' !important;
  font-style: italic !important;
  color: #929292 !important;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 36px;
}

.page-home #segment_5 #segment_5__testimonials > .item > .avatar {
  margin: 0 auto;
  width: 250px;
}

.page-home #segment_5 #segment_5__testimonials > .item > .avatar > .image > img {
  width:70px;
  height:70px;
  border-radius:70px;
}

.page-home #segment_5 #segment_5__testimonials > .item > .avatar:before,
.page-home #segment_5 #segment_5__testimonials > .item > .avatar:after {
  content: " ";
  display: table;
}

.page-home #segment_5 #segment_5__testimonials > .item > .avatar:after {
  clear: both;
}

.page-home #segment_5 #segment_5__testimonials > .item > .avatar:before,
.page-home #segment_5 #segment_5__testimonials > .item > .avatar:after {
  content: " ";
  display: table;
}

.page-home #segment_5 #segment_5__testimonials > .item > .avatar:after {
  clear: both;
}

.page-home #segment_5 #segment_5__testimonials > .item > .avatar > .image {
  float: left !important;
  margin-right: 16px;
}

.page-home #segment_5 #segment_5__testimonials > .item > .avatar > .info {
  float: left !important;
  padding-top: 16px;
  font-size: 16px;
}

.page-home #segment_5 #segment_5__testimonials > .item > .avatar > .info > .name {
  color: #58C4C7 !important;
  font-family: 'HelveticaNeue' !important;
  font-weight: 700 !important;
}

.page-home #segment_5 #segment_5__testimonials > .item > .avatar > .info > .meta.location {
  color: #929292 !important;
}

.page-home #segment_5 #segment_5__testimonials > .item:last-child:after {
  content: none;
}



/**
 * Segment 6
 */
.page-home #segment_6 {
  padding: 72px 0;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-image: url('../../resources/images/pages/home/segment-2.background.png');
  /*#segment_6__top_contributors{
      padding-top: 54px;

      >.header{
        >.title{
          display: inline;
          font-size: 26px;
          .text-porsche;
          .text-uppercase;
          margin-right: 24px;
        }

        >.subtitle{
          display: inline;
          font-size: 16px;
        }
      }//>.header

      >.body{
        padding-top: 20px;

        >.list{
          >.item{
            .make-xs-column(12);
            .make-sm-column(4);

            >.avatar{
              >.image{
                .left;
                width: 86px;
                height: 86px;
                border-radius: 44px;
                border: 16px solid #E8E8E7;

                >img{
                  border-radius: 27px;
                }
              }
              >.info{
                .left;
                margin-left: -6px;
                padding-top: 16px;

                >.line-1{
                  line-height: 18px;

                  >.meta.name{
                    .text-fountain-blue;
                    font-size: 17px;
                  }
                  >.meta.location{
                    font-size: 12px;
                  }
                }
                >.line-2{
                  font-size: 12px;
                }
                >.line-3{
                  >.tag.follow{
                    font-size: 10px;
                    width: 64px;
                    height: 20px;
                    line-height: 20px;
                    display: inline-block;
                    .text-white;
                    background-color: #BAC7BD;
                    .text-center;
                    .text-uppercase;
                  }
                }
              }
            }
          }
        }
      }
    }*/
}

.page-home #segment_6 #segment_6__text_1 {
  text-transform: uppercase;
  font-weight: 200 !important;
  font-size: 56px;
  line-height: 56px;
  color: #FFFFFF !important;
  text-align: center;
  margin-bottom: 24px;
}

.page-home #segment_6 #segment_6__text_2 {
  color: #FFFFFF !important;
  text-align: center;
  font-style: italic !important;
  font-family: 'HelveticaNeue' !important;
  font-size: 20px;
  margin-bottom: 24px;
}

.page-home #segment_6 #segment_6__button_container {
  text-align: center;
  position: relative;
  padding-bottom: 40px;
  /*&:after{
        content: '';
        height: 1px;
        width: 90px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        .center;

        .bg-ocean-green;
      }*/
}

.page-home #segment_6 #segment_6__button_container #segment_6__button_container__button_register {
  background-color: #3DB883 !important;
  color: #FFFFFF !important;
  width: 170px;
  border-radius: 12px;
}

.page-home #segment_6 #segment_6__button_container #segment_6__button_container__button_register > .title {
  font-size: 24px;
  line-height: 30px;
}

.page-home #segment_6 #segment_6__button_container #segment_6__button_container__button_register > .subtitle {
  font-size: 16px;
  line-height: 13px;
}