/**
 * - Page: Notifications -
 *************************
 */

 .page-notifications {
  background-image: url('../../resources/images/background.png');
 }

.page-notifications #segment_1 > .header {
  background-color: #58C4C7 !important;
}

.page-notifications #segment_1 > .header .container > .title {
  color: #FFFFFF !important;
  font-weight: 300 !important;
  font-family: 'HelveticaNeue' !important;
  line-height: 48px;
  font-size: 26px;
}

.page-notifications #segment_1 > .body {
  padding-top: 32px;
}

.page-notifications #segment_1 > .body > .container > .univtop.feed > .empty {
  text-align: center;
}

.page-notifications #segment_1 > .body > .container > .univtop.feed > .empty > h3 {
  color: #f49739; 
  font-weight: 300 !important;
}

.page-notifications #segment_1 > .body > .container > .univtop.feed > .empty > p {
  margin-top:30px;
}

.page-notifications #segment_1 > .body > .container > .univtop.feed > .empty > p > .univtop.icon.zzz {
    width: 200px;
    height: 100px;
    background-size: 100% 100%;
}