/**
 * - Page: Question -
 * ==================
 */

/*.page-questions {
  background-image: url('../../resources/images/pages/question/background.jpg');
}

.page-questions #segment_1 {
  background-color: #FFFFFF !important;
  padding: 15px 0;
}

.page-questions #segment_1 > .container .row > .body:before,
.page-questions #segment_1 > .container .row > .body:after {
  content: " ";
  display: table;
}

.page-questions #segment_1 > .container .row > .body:after {
  clear: both;
}

.page-questions #segment_1 > .container .row > .body:before,
.page-questions #segment_1 > .container .row > .body:after {
  content: " ";
  display: table;
}

.page-questions #segment_1 > .container .row > .body:after {
  clear: both;
}

.page-questions #segment_1 > .container .row > .body #form_ask_question {
  width: 565px;
  margin: 0 auto;
}

.page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field > input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  height: 36px;
}

.page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field > input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field > input::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field > input:-ms-input-placeholder {
  color: #999;
}

.page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field > input::-webkit-input-placeholder {
  color: #999;
}

.page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field > input::-ms-expand {
  border: 0;
  background-color: transparent;
}

.page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field > input[disabled],
.page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field > input[readonly],
fieldset[disabled] .page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field > input {
  background-color: #eeeeee;
  opacity: 1;
}

.page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field > input[disabled],
fieldset[disabled] .page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field > input {
  cursor: not-allowed;
}

textarea.page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field > input {
  height: auto;
}

.page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field #form_ask_question__input {
  padding-left: 30px;
  background-repeat: no-repeat;
  background-image: url('../../resources/images/icons/magnifier.png');
  background-position: 4px 4px;
  font-size: 18px;
}

.page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field #form_ask_question__input .ms-sel-ctn {
  margin-left: 0;
}

.page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field #form_ask_question__input .ms-sel-ctn .ms-sel-item {
  background-color: transparent !important;
  border: medium none;
  font-size: 18px;
  line-height: 24px;
  color: inherit;
  margin: 1px 0;
  padding: 0;
}

.page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field #form_ask_question__input .ms-sel-ctn .ms-sel-item .ms-close-btn {
  display: none;
}

.page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field #form_ask_question__input .ms-res-ctn .ms-res-item > a {
  display: block;
}

.page-questions #segment_1 > .container .row > .body #form_ask_question > .inline.fields > .field > button {
  color: #FFFFFF !important;
  background-color: #F8B64D;
  background: -webkit-gradient(linear, left top, left bottom, from(#F8B64D), to(#F09B60));
  background: -webkit-linear-gradient(top, #F8B64D, #F09B60);
  background: -moz-linear-gradient(top, #F8B64D, #F09B60);
  background: -ms-linear-gradient(top, #F8B64D, #F09B60);
  background: -o-linear-gradient(top, #F8B64D, #F09B60);
  height: 36px;
  line-height: 24px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
}

.page-questions #segment_2 > .container .row > .header {
  padding-top: 2px;
}

.page-questions #segment_2 > .container .row > .header #segment_2__menu {
  background-color: #FFFFFF !important;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 500px;
  height: 36px;
  display: flex;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  box-shadow: 0 1px 1px rgba(188, 187, 187, 0.75);
  border-radius: 5px;
  padding: 0 10px;
}

.page-questions #segment_2 > .container .row > .header #segment_2__menu:before,
.page-questions #segment_2 > .container .row > .header #segment_2__menu:after {
  content: " ";
  display: table;
}

.page-questions #segment_2 > .container .row > .header #segment_2__menu:after {
  clear: both;
}

.page-questions #segment_2 > .container .row > .header #segment_2__menu:before,
.page-questions #segment_2 > .container .row > .header #segment_2__menu:after {
  content: " ";
  display: table;
}

.page-questions #segment_2 > .container .row > .header #segment_2__menu:after {
  clear: both;
}

.page-questions #segment_2 > .container .row > .header #segment_2__menu > .item {
  text-align: center;
  text-transform: uppercase;
  flex: 0 1 auto;
  width: 33.33333333%;
  line-height: 36px;
  margin: 0 30px;
  padding: 0 15px;
  font-size: 18px;
  cursor: pointer;
}

.page-questions #segment_2 > .container .row > .header #segment_2__menu > .item.active,
.page-questions #segment_2 > .container .row > .header #segment_2__menu > .item:hover {
  color: #EE9960 !important;
  border-bottom: 3px solid #EE9960;
}

.page-questions #segment_2 > .container .row > .body #segment_2__tabs {
  width: 850px;
  margin: 0 auto;
}

.page-questions #segment_2 > .container .row > .body #segment_2__tabs > .tab {
  display: none;
}

.page-questions #segment_2 > .container .row > .body #segment_2__tabs > .tab > .list:before,
.page-questions #segment_2 > .container .row > .body #segment_2__tabs > .tab > .list:after {
  content: " ";
  display: table;
}

.page-questions #segment_2 > .container .row > .body #segment_2__tabs > .tab > .list:after {
  clear: both;
}

.page-questions #segment_2 > .container .row > .body #segment_2__tabs > .tab > .list:before,
.page-questions #segment_2 > .container .row > .body #segment_2__tabs > .tab > .list:after {
  content: " ";
  display: table;
}

.page-questions #segment_2 > .container .row > .body #segment_2__tabs > .tab > .list:after {
  clear: both;
}

.page-questions #segment_2 > .container .row > .body #segment_2__tabs > .tab > .list > .item[data-is-expanded="0"] > .univtop.card > .answers,
.page-questions #segment_2 > .container .row > .body #segment_2__tabs > .tab > .list > .item[data-is-expanded="0"] > .univtop.card > form {
  display: none;
  visibility: hidden;
}

.page-questions #segment_2 > .container .row > .body #segment_2__tabs > .tab > .list > .item[data-is-expanded="1"] > .univtop.card > .answers,
.page-questions #segment_2 > .container .row > .body #segment_2__tabs > .tab > .list > .item[data-is-expanded="1"] > .univtop.card > form {
  display: block;
  visibility: visible;
}

.page-questions #segment_2 > .container .row > .body #segment_2__tabs > .tab.active {
  display: block;
}

.page-questions #segment_2 > .container .row > .body #segment_2__tabs > .tab > .list > .item[data-is-expanded="0"] > .univtop.card > .thumbnail > img {
    width: 72px;
    height: 72px;
    border-radius: 100px;
}*/





.page-questions {
  background-image: url('../../resources/images/background.png');
  /*background-image: url('../../resources/images/pages/question/background.jpg');*/
  /*#segment_1{
    .bg-white;
    padding: 15px 0;

    >.container{
      .row{
        >.header{}
        >.body{
          .clearfix;

          #form_search_question{
            width: 565px;
            margin: 0 auto;

            >.fields{}
            >.inline.fields{
              >.field{
                >input{
                  .form-control;
                  height: 36px;
                }
                #form_search_question__input{
                  padding-left: 30px;
                  background-repeat: no-repeat;
                  background-image: url('@{icon-uri-base}/magnifier.png');
                  background-position: 4px 4px;
                  font-size: 18px;

                  .ms-sel-ctn{
                    margin-left: 0;

                    .ms-sel-item{
                      .bg-transparent;
                      border: medium none;
                      font-size: 18px;
                      line-height: 24px;
                      color: inherit;
                      margin: 1px 0;
                      padding: 0;

                      .ms-close-btn{
                        display: none;
                      }
                    }
                  }
                  .ms-res-ctn{
                    .ms-res-item{
                      >a{
                        display: block;
                      }
                    }
                  }
                }
                >button{
                  .text-white;
                  .gradient(#F8B64D, #F09B60);
                  height: 36px;
                  line-height: 24px;
                  font-size: 20px;
                  border: none;
                  border-radius: 8px;
                }
              }
            }
          }
        }
      }
    }
  }

  #segment_2{
    >.container{
      .row{
        >.header{
          padding-top: 2px;

          #segment_2__menu{
            .clearfix;
            .bg-white;
            margin: 0 auto;
            margin-bottom: 10px;
            width: 500px;
            height: 36px;
            display: flex;
            -webkit-box-orient: horizontal;
            flex-direction: row;

            box-shadow: 0 1px 1px fade(#BCBBBB, 75%);
            border-radius: 5px;
            padding: 0 10px;

            >.item{
              .text-center;
              .text-uppercase;
              flex: 0 1 auto;
              width: (1/3)*100%;
              line-height: 36px;
              margin: 0 30px;
              padding: 0 15px;
              font-size: 18px;
              cursor: pointer;
            }

            >.item.active,
            >.item:hover{
              .text-(#EE9960);
              border-bottom: 3px solid #EE9960;
            }
          }
        }
        >.body{
          #segment_2__tabs{
            width: 850px;
            margin: 0 auto;
            >.tab{
              display: none;

              >.list{
                .clearfix;

                >.item{}

                >.item[data-is-expanded="0"]{
                  >.@{namespace}.card{
                    >.answers,
                    >form{
                      display: none;
                      visibility: hidden;
                    }
                  }
                }

                >.item[data-is-expanded="1"]{
                  >.@{namespace}.card{
                    >.answers,
                    >form{
                      display: block;
                      visibility: visible;
                    }
                  }
                }
              }
            }
            >.tab.active{
              display: block;
            }
          }
        }
      }
    }
  }*/
}

/*.page-questions #header {
  margin-bottom: 16px;
}*/

.page-questions #segment_1 {
  padding-top:16px;
}

.page-questions #segment_1 > .container > .row #segment_1__left {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .page-questions #segment_1 > .container > .row #segment_1__left {
    float: left;
    width: 25%;
  }
}

.page-questions #segment_1 > .container > .row #segment_1__left > .widget {
  margin-bottom: 20px;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
  background-color: #FFFFFF !important;
}

.page-questions #segment_1 > .container > .row #segment_1__left > .widget #segment_1__left__trigger_modal_add_question {
  font-size: 22px;
  color: #FFFFFF !important;
}

.page-questions #segment_1 > .container > .row #segment_1__left #segment_1__left__widget_menu > .body > .univtop.menu {
  background-color: #FFFFFF !important;
}

.page-questions #segment_1 > .container > .row #segment_1__left #segment_1__left__widget_menu > .body > .univtop.menu > .item {
  color: #929497 !important;
  display: block;
  line-height: 40px;
  padding: 0 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'Lato' !important;
  font-weight: 500 !important;
  text-decoration: none;
}

.page-questions #segment_1 > .container > .row #segment_1__left #segment_1__left__widget_menu > .body > .univtop.menu > .item.active {
  color: #ef9961 !important;
  border-right: 3px solid #ef9961;
}

.page-questions #segment_1 > .container > .row #segment_1__left #segment_1__left__widget_top_contributors > .header > .title {
  text-transform: uppercase;
  color: #ef9961 !important;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
}

.page-questions #segment_1 > .container > .row #segment_1__left #segment_1__left__widget_top_contributors > .body > .list > .item {
  padding: 0 10px;
  margin-bottom: 16px;
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.page-questions #segment_1 > .container > .row #segment_1__left #segment_1__left__widget_top_contributors > .body > .list > .item > .avatar {
  margin: 0 auto;
}

.page-questions #segment_1 > .container > .row #segment_1__left #segment_1__left__widget_top_contributors > .body > .list > .item > .avatar:before,
.page-questions #segment_1 > .container > .row #segment_1__left #segment_1__left__widget_top_contributors > .body > .list > .item > .avatar:after {
  content: " ";
  display: table;
}

.page-questions #segment_1 > .container > .row #segment_1__left #segment_1__left__widget_top_contributors > .body > .list > .item > .avatar:after {
  clear: both;
}

.page-questions #segment_1 > .container > .row #segment_1__left #segment_1__left__widget_top_contributors > .body > .list > .item > .avatar:before,
.page-questions #segment_1 > .container > .row #segment_1__left #segment_1__left__widget_top_contributors > .body > .list > .item > .avatar:after {
  content: " ";
  display: table;
}

.page-questions #segment_1 > .container > .row #segment_1__left #segment_1__left__widget_top_contributors > .body > .list > .item > .avatar:after {
  clear: both;
}

.page-questions #segment_1 > .container > .row #segment_1__left #segment_1__left__widget_top_contributors > .body > .list > .item > .avatar > .image {
  float: left !important;
  margin-right: 16px;
  border-radius: 24px;
  overflow: hidden;
  width: 48px;
}

.page-questions #segment_1 > .container > .row #segment_1__left #segment_1__left__widget_top_contributors > .body > .list > .item > .avatar > .image img {
  max-width: 100%;
}

.page-questions #segment_1 > .container > .row #segment_1__left #segment_1__left__widget_top_contributors > .body > .list > .item > .avatar > .info {
  float: left !important;
  font-size: 12px;
}

.page-questions #segment_1 > .container > .row #segment_1__left #segment_1__left__widget_top_contributors > .body > .list > .item > .avatar > .info .name {
  color: #58C4C7 !important;
  font-family: 'HelveticaNeue' !important;
  font-weight: 700 !important;
}

.page-questions #segment_1 > .container > .row #segment_1__left #segment_1__left__widget_top_contributors > .body > .list > .item > .avatar > .info .meta.location {
  color: #929292 !important;
}

.page-questions #segment_1 > .container > .row #segment_1__left #segment_1__left__widget_top_contributors > .body > .list > .item > .avatar > .info .tag.follow {
  color: #FFFFFF !important;
  background-color: #929292 !important;
  text-transform: uppercase;
  padding: 4px;
}

@media (min-width: 768px) {
  .page-questions #segment_1 > .container > .row #segment_1__left #segment_1__left__widget_top_contributors > .body > .list > .item {
    float: left;
    width: 33.33333333%;
  }
}

@media (min-width: 992px) {
  .page-questions #segment_1 > .container > .row #segment_1__left #segment_1__left__widget_top_contributors > .body > .list > .item {
    float: left;
    width: 100%;
  }
}

.page-questions #segment_1 > .container > .row #segment_1__right {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .page-questions #segment_1 > .container > .row #segment_1__right {
    float: left;
    width: 75%;
  }
}

.page-questions #segment_1 > .container > .row #segment_1__right #form_search_question {
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
}

.page-questions #segment_1 > .container > .row #segment_1__right #form_search_question > .inline.fields > .field {
  padding-left: 0;
  padding-right: 0;
}

.page-questions #segment_1 > .container > .row #segment_1__right #form_search_question > .inline.fields > .field > input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  height: 36px;
  margin-bottom: 0;
}

.page-questions #segment_1 > .container > .row #segment_1__right #form_search_question > .inline.fields > .field > input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.page-questions #segment_1 > .container > .row #segment_1__right #form_search_question > .inline.fields > .field > input::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.page-questions #segment_1 > .container > .row #segment_1__right #form_search_question > .inline.fields > .field > input:-ms-input-placeholder {
  color: #999;
}

.page-questions #segment_1 > .container > .row #segment_1__right #form_search_question > .inline.fields > .field > input::-webkit-input-placeholder {
  color: #999;
}

.page-questions #segment_1 > .container > .row #segment_1__right #form_search_question > .inline.fields > .field > input::-ms-expand {
  border: 0;
  background-color: transparent;
}

.page-questions #segment_1 > .container > .row #segment_1__right #form_search_question > .inline.fields > .field > input[disabled],
.page-questions #segment_1 > .container > .row #segment_1__right #form_search_question > .inline.fields > .field > input[readonly],
fieldset[disabled] .page-questions #segment_1 > .container > .row #segment_1__right #form_search_question > .inline.fields > .field > input {
  background-color: #eeeeee;
  opacity: 1;
}

.page-questions #segment_1 > .container > .row #segment_1__right #form_search_question > .inline.fields > .field > input[disabled],
fieldset[disabled] .page-questions #segment_1 > .container > .row #segment_1__right #form_search_question > .inline.fields > .field > input {
  cursor: not-allowed;
}

textarea.page-questions #segment_1 > .container > .row #segment_1__right #form_search_question > .inline.fields > .field > input {
  height: auto;
}

.page-questions #segment_1 > .container > .row #segment_1__right #form_search_question > .inline.fields > .field #form_search_question__input {
  padding-left: 30px;
  background-repeat: no-repeat;
  background-image: url('../assets/images/icons/magnifier.png');
  background-position: 4px 4px;
  font-size: 18px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none;
}

.page-questions #segment_1 > .container > .row #segment_1__right #form_search_question > .inline.fields > .field #form_search_question__input .ms-sel-ctn {
  margin-left: 0;
}

.page-questions #segment_1 > .container > .row #segment_1__right #form_search_question > .inline.fields > .field #form_search_question__input .ms-sel-ctn .ms-sel-item {
  background-color: transparent !important;
  border: medium none;
  font-size: 18px;
  line-height: 24px;
  color: inherit;
  margin: 1px 0;
  padding: 0;
}

.page-questions #segment_1 > .container > .row #segment_1__right #form_search_question > .inline.fields > .field #form_search_question__input .ms-sel-ctn .ms-sel-item .ms-close-btn {
  display: none;
}

.page-questions #segment_1 > .container > .row #segment_1__right #form_search_question > .inline.fields > .field #form_search_question__input .ms-res-ctn .ms-res-item > a {
  display: block;
}

.page-questions #segment_1 > .container > .row #segment_1__right #form_search_question > .inline.fields > .field > button {
  color: #FFFFFF !important;
  background-color: #ef9961 !important;
  height: 36px;
  line-height: 24px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.page-questions #segment_1 > .container > .row #segment_1__right #segment_1__right__segment_questions > .list:before,
.page-questions #segment_1 > .container > .row #segment_1__right #segment_1__right__segment_questions > .list:after {
  content: " ";
  display: table;
}

.page-questions #segment_1 > .container > .row #segment_1__right #segment_1__right__segment_questions > .list:after {
  clear: both;
}

.page-questions #segment_1 > .container > .row #segment_1__right #segment_1__right__segment_questions > .list:before,
.page-questions #segment_1 > .container > .row #segment_1__right #segment_1__right__segment_questions > .list:after {
  content: " ";
  display: table;
}

.page-questions #segment_1 > .container > .row #segment_1__right #segment_1__right__segment_questions > .list:after {
  clear: both;
}

.page-questions #segment_1 > .container > .row #segment_1__right #segment_1__right__segment_questions > .list > .item[data-is-expanded="0"] > .univtop.card > .answers,
.page-questions #segment_1 > .container > .row #segment_1__right #segment_1__right__segment_questions > .list > .item[data-is-expanded="0"] > .univtop.card > form {
  display: none;
  visibility: hidden;
}

.page-questions #segment_1 > .container > .row #segment_1__right #segment_1__right__segment_questions > .list > .item[data-is-expanded="1"] > .univtop.card > .answers,
.page-questions #segment_1 > .container > .row #segment_1__right #segment_1__right__segment_questions > .list > .item[data-is-expanded="1"] > .univtop.card > form {
  display: block;
  visibility: visible;
}

.page-questions #segment_1 > .container > .row #segment_1__right #segment_1__right__segment_questions.loading {
  min-height: 300px;
  background-color: #FFFFFF !important;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-image: url('../../resources/images/icons/loading.gif');
  background-position: center center;
}
