.univtop.footer {
  font-family: 'HelveticaNeue' !important;
  color: #929292 !important;
  padding: 19px 0;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url('../../resources/images/pages/about-us/footer.background.png');
  -webkit-background-size: 100% 22px;
  background-size: 100% 22px;
  /*padding: 32px 0;*/
  /*background-color: #E8E7E7;*/
}

@media (min-width: 768px) {
  .univtop.footer {
    /*height: 220px;*/
    height:50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.univtop.footer > #footer__row_1 {
  margin-bottom:20px;
  margin-top:20px;
}

.univtop.footer > #footer__row_1 > .container > .row {
  line-height: 32px;
}

.univtop.footer > #footer__row_1 > .container > .row h3 {
  font-weight: 500 !important;
  font-size: 20px;
  margin-bottom: 16px;
}

.univtop.footer > #footer__row_1 > .container > #footer__segment_1 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.univtop.footer > #footer__row_1 > .container > #footer__segment_1 > .contact-us-text {
  color: #5c5c59;
}

.univtop.footer > #footer__row_1 > .container > #footer__segment_1 > p > .title {
  color: #9e9f9b;
}

.univtop.footer > #footer__row_1 > .container > #footer__segment_1 > p > .content {
  color: #5cbdb9;
}

@media (min-width: 768px) {
  .univtop.footer > #footer__row_1 > .container > #footer__segment_1 {
    float: left;
    width: 75%;
  }
}

.univtop.footer > #footer__row_1 > .container > #footer__segment_2 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .univtop.footer > #footer__row_1 > .container > #footer__segment_2 {
    float: left;
    width: 25%;
  }
}

@media (max-width: 768px) {
  .univtop.footer > #footer__row_1 > .container > #footer__segment_2 {
    text-align: left;
  }
}

.univtop.footer > #footer__row_2 > .container > .row #footer__segment_3 {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: right;
  color: #58C4C7 !important;
  font-weight: 300 !important;
  font-size: 13px;
}

@media (max-width: 768px) {
  .univtop.footer > #footer__row_2 > .container > .row #footer__segment_3 {
    text-align: left;
  }
}

.univtop.footer > #footer__row_2 {
  background-color: #5c5c59;
  color: #5cbdb9 !important;
  padding-top:15px;
  padding-bottom: 15px;
}