#header {
  height: 84px;
  padding: 10px 0;
  position: relative;
  z-index: 1;
  background-color:white;
  background-repeat: no-repeat;
  background-image: url('../../resources/images/modules/header/background.png');
  background-position: top center;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

#header #segment_header__logo {
  float: left !important;
  width: 136px;
  height: 64px;
  background-repeat: no-repeat;
  background-image: url('../../resources/images/logo.png');
  background-position: left center;
}

@media (max-width: 768px) {
  #header #segment_header__logo {
    margin-left: 16px;
  }
}

#header #header__toggle_container {
  float: right !important;
  height: 64px;
  display: none !important;
}

@media (max-width: 767px) {
  #header #header__toggle_container {
    display: block !important;
  }

  table#header #header__toggle_container {
    display: table !important;
  }

  tr#header #header__toggle_container {
    display: table-row !important;
  }

  th#header #header__toggle_container,
  td#header #header__toggle_container {
    display: table-cell !important;
  }
}

#header #segment_header__top_menu #segment_header__top_menu__actions {
  float: right !important;
  height: 64px;
  line-height: 64px;
  margin-left: 32px;
}

#header #segment_header__top_menu #segment_header__top_menu__actions #segment_header__actions__item_signup {
  color: #58C4C7 !important;
  text-transform: uppercase;
  font-size: 16px;
  height: 28px;
  padding: 5px 12px;
  line-height: 18px;
  border-radius: 4px;
  border-color: #58C4C7;
  margin-right: 24px;
}

#header #segment_header__top_menu #segment_header__top_menu__actions #segment_header__actions__item_login {
  background-color: #58C4C7 !important;
  color: #FFFFFF !important;
  text-transform: uppercase;
  font-size: 16px;
  height: 28px;
  padding: 5px 12px;
  line-height: 18px;
  border-radius: 4px;
}

#header #segment_header__top_menu #segment_header__top_menu__links {
  float: right !important;
  height: 64px;
  line-height: 64px;
}

#header #segment_header__top_menu #segment_header__top_menu__links > .item {
  text-transform: uppercase;
  color: #929292 !important;
  font-size: 16px;
  display: inline-block;
  line-height: 36px;
  height: 32px;
  vertical-align: middle;
  padding: 0 12px;
  text-decoration: none;
  letter-spacing: -0.8px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#header #segment_header__top_menu #segment_header__top_menu__links > .item.active,
#header #segment_header__top_menu #segment_header__top_menu__links > .item:hover {
  color: #58C4C7 !important;
  opacity: 0.6;
}

@media (max-width: 768px) {
  #header #segment_header__top_menu {
    height: 0;
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  body.is-menu-expanded #header #segment_header__top_menu {
    background-color: #FFFFFF !important;
    height: auto;
    width: 100%;
    position: relative;
    padding: 0 16px 64px;
  }

  body.is-menu-expanded #header #segment_header__top_menu #segment_header__top_menu__actions {
    float: none !important;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 64px;
    margin-left: 0px;
    padding: 0px 16px;
  }

  body.is-menu-expanded #header #segment_header__top_menu #segment_header__top_menu__actions > #segment_header__actions__item_login,
  body.is-menu-expanded #header #segment_header__top_menu #segment_header__top_menu__actions > #segment_header__actions__item_signup {
    background-color: #FFFFFF !important;
    color: #929292 !important;
    display: block;
    height: auto;
    line-height: 32px;
    border: medium none;
    text-align: left;
    padding: 0px;
    margin-right: 0px;
  }

  body.is-menu-expanded #header #segment_header__top_menu #segment_header__top_menu__actions > #segment_header__actions__item_login:hover,
  body.is-menu-expanded #header #segment_header__top_menu #segment_header__top_menu__actions > #segment_header__actions__item_signup:hover {
    color: #58C4C7 !important;
    opacity: 0.6;
  }

  body.is-menu-expanded #header #segment_header__top_menu #segment_header__top_menu__links {
    float: none !important;
    height: auto;
  }

  body.is-menu-expanded #header #segment_header__top_menu #segment_header__top_menu__links > .item {
    display: block;
    padding: 0;
  }

  body.is-menu-expanded #header #segment_header__top_menu #segment_header__top_menu__links > .item > .notification {
    margin-top: 5px;
  }

  body.is-menu-expanded #header #segment_header__top_menu #segment_header__top_menu__links > .item.dropdown {
    margin-top:10px;
  }
}





/**
 * Custom Header CSS
 */
#header #header__toggle_container > #header__toggle {
  margin-right:15px;
  margin-top:10px;
  display:block;
}

#header #segment_header__top_menu > #segment_header__top_menu__links > .item.contact {
  margin-right:15px;
}

#header #segment_header__top_menu > #segment_header__top_menu__links > .item > .notification {
  background-image: url('../../resources/images/modules/header/notification-icon.png');
  background-size: 100% 100%;
  height: 30px;
  margin-right:15px;
  cursor: pointer;
}

#header #segment_header__top_menu > #segment_header__top_menu__links > .item > .notification.new {
  background-image: url('../../resources/images/modules/header/new-notification-icon.png');
}

#header #segment_header__top_menu > #segment_header__top_menu__links > .item.dropdown {
  margin-top:-5px;
}

#header #segment_header__top_menu > #segment_header__top_menu__links > .item > a.dropdown-toggle {
  cursor: pointer;
}

#header #segment_header__top_menu > #segment_header__top_menu__links > .item > a.dropdown-toggle > img {
  border-radius:100px;
  width:30px;
  height:30px;
}

#header #segment_header__top_menu > #segment_header__top_menu__links > .item a {
  color: #929292 !important;
}

#header #segment_header__top_menu > #segment_header__top_menu__links > .item.dropdown:hover {
  opacity: 1;
}

#header #segment_header__top_menu > #segment_header__top_menu__links > .item.dropdown > .dropdown-menu {
  margin-top:6px;
}

#header #segment_header__top_menu > #segment_header__top_menu__links > .item.dropdown > .dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 20px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

#header #segment_header__top_menu > #segment_header__top_menu__links > .item.dropdown > .dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 21px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}